<p style="color: green"><%= notice %></p>

<% content_for :title, "Сохранённое" %>

<!-- Список подборок -->
<div class="C_collectionsGrid">
  <% if @default_collection %>
    <%= render partial: "collections/collection", locals: { collection: @default_collection } %>
  <% end %>

  <% @custom_collections.each do |collection| %>
    <%= render partial: "collections/collection", locals: { collection: collection } %>
  <% end %>
</div>
<%= render partial: "collections/form", locals: { collection: Collection.new } %>

