<%= form_with(model: Subscription.new, class: "A_subscriptionForm", id: "subscriptionForm") do |form| %>
    <%= form.email_field :email, placeholder: "email", class: "Q_footerInput" %>
    <%= button_tag type: 'submit', class: "Q_footerFormBtn" do %>
      <h4>OK</h4>
    <% end %>
<% end %>