  <div class="subscriptionSuccess">
    <p> Вы подписаны, обязательно оповестим Вас о запуске!</p>
    <div class="subscriptionSuccessImage">
        <img class="subscribeImage" src="<%= asset_path('welcome/subscribe_success.png') %>" alt="">
    </div>
    
  </div>