<div class="S_follows">
    <h2 class="Q_followTitle">
        Подписчики <span><%= @followers.count %></span>
    </h2>

    <div id="followers-list" class="C_followsList">
    <%= render partial: "follows/user_card", collection: @followers, as: :user %>
    </div>
</div>
