<div class="O_postFeedHeader">
  <div class="W_postFeedHeader">
    <button class="Q_changeFeedLayoutBtn">
      <img src="<%= asset_path('bigLayoutIcon.svg') %>">
    </button>
    <button class="Q_changeFeedLayoutBtn">
      <img src="<%= asset_path('compactLayoutIcon.svg') %>">
    </button>
  </div>
  <div class="W_postFeedHeader">
    <button class="Q_feedSortBtn">
      <h4>Сортировка</h4>
    </button>
    <button class="Q_feedFltrBtn">
      <h4>Фильтр</h4>
    </button>
  </div>
</div>