<p style="color: green"><%= notice %></p>

<% content_for :title, "Homie" %>

<div id="posts">
  <% @posts.each do |post| %>
      <%= link_to post, class: "post-link" do %>
      <%= render partial: "posts/post", object: post %>
    <% end %>
  <% end %>
</div>

<% if can? :create, Post %>
  <%= link_to "New post", new_post_path %>
<% end %>

