<% content_for :title, "Homie" %>

<div id="postsFeed">
  <% @posts.each do |post| %>
      <%= link_to post, class: "post-link" do %>
      <%= render partial: "posts/post", object: post %>
    <% end %>
  <% end %>
</div>