
.A_menuButton {
    height: 100%;
    // aspect-ratio: 1 / 1;
    padding: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border: 0.16vw solid var(--orange);
    border-right: 0vw solid var(--orange);
    &.activePage {
        background-color: var(--orange); 
    }
}
.A_menuPreButton {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border: 0.16vw solid var(--orange);
    border-right: 0vw solid var(--orange);
    color: var(--dark-grey);
    &.activePage {
        background-color: var(--orange); 
        color: var(--white);
    }
}
.A_dropdownMenuBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.6vw;
    h6 {
        color: var(--medium-grey);
    }

}
.A_menuUser {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.16vw;
    gap: 1.2vw;
    width: 100%;
    h5 {
        font-size: 1vw;
        margin-bottom: 0.4vw;
    }
    h6 {
        font-size: 0.8vw;
    }
    &.active {
        background-color: var(--orange);
        h5, h6 {
            color: var(--white);
        }
    }
}

.A_postCreator {
    position: relative;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    align-items: center;
    padding: 0.16vw;
    background-color: var(--orange);
}


.A_showPostCreator {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    gap: 1.2vw;
    h4 {
        margin-bottom: 0.6vw;
    }
}



.A_likes {
    padding: 1.2vw;
    height: 5vw;
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.O_postComment{
    .A_likes {
        height: auto;
        padding: 0;
    }
}

.A_commentCreator {
    border-right: 0.16vw solid var(--orange);
    border-bottom: 0.16vw solid var(--orange);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    background-color: var(--orange);
}

.A_popularPostsNav {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 2.4vw;
}







.A_footerSocials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 1.8vw;
    h6 {
        padding: 0 0.8vw;
        font-size: 1vw;
        color: var(--orange);
        background-color: var(--white);
        border: 0.16vw solid var(--white);
        line-height: 1.6vw;

    }
    div {
        display: flex;
        flex-direction: row;
        gap: 1vw;
        color: var(--white); 
        padding: 0.8vw 1.2vw;
        border: 0.16vw solid var(--white);
        img {
            width: 2.8vw;
            height: 2.8vw;
        }
    }
}
.A_footerApp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h6 {
        padding: 0 0.8vw;
        font-size: 1vw;
        color: var(--orange);
        background-color: var(--white);
        border: 0.16vw solid var(--white);
        line-height: 1.6vw;

    }
    div {
        display: flex;
        flex-direction: row;
        gap: 1vw;
        color: var(--white); 
        padding: 0.8vw 1.2vw;
        border: 0.16vw solid var(--white);
        img {
            width: 6vw;
            height: 6vw;
        }
    }
}

.A_regInputField, .A_logInInputField {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    label {
        background-color: var(--orange);
        color: var(--white);
        padding: 0.4vw 1.7vw;
        font-size: 1vw;
        line-height: 1.6vw;
    }
    input, textarea {
        font-family: 'Arimo', sans-serif;
        background-color: var(--grey);
        border: none;
        width: 30vw;
        padding: 1.4vw;
        font-size: 1.1vw;
        font-weight: 400;
        border: 0.16vw solid var(--grey);
        &:active, &:focus {
            border: 0.16vw solid var(--orange);
            outline: none;
            border-radius: 0;
        }
    }
}
.A_logInRemember{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6vw;
    check_box {
        background-color: var(--orange);
    }
}
.A_addItemInputField {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    label {
        background-color: var(--orange);
        color: var(--white);
        padding: 0.4vw 1.7vw;
        font-size: 1vw;
        line-height: 1.6vw;
    }
    input, textarea {
        font-family: 'Arimo', sans-serif;
        background-color: var(--grey);
        border: none;
        width: 42vw;
        padding: 1.2vw;
        font-size: 1.1vw;
        font-weight: 400;
        border: 0.16vw solid var(--grey);
        &:active, &:focus {
            border: 0.16vw solid var(--orange);
            outline: none;
            border-radius: 0;
        }
    }
}

.A_uploadAvatar, .A_editAvatar {
    width: 8.6vw;
    height: 8.6vw;
    position: relative;
    margin-bottom: 2.4vw;
}
.A_uploadPostImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12vw;
    height: 14vw;
    position: relative;
    margin-bottom: 2.4vw;
}


@media only screen and (max-width: 430px) {
    .A_menuButton {
        height: 100%;
        padding: 4.6vw;
        border: 0vw solid var(--orange);
        border-left: 0.5vw solid var(--orange);
    }
    .A_menuPreButton {
        border: 0vw solid var(--orange);
        border-right: 0.5vw solid var(--orange);
    }
    .A_dropdownMenuBlock {
        gap: 2.6vw;
    }
    .A_menuUser {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5vw;
        gap: 2.5vw;
        width: 100%;
        h5 {
            font-size: 3.3vw;
            margin-bottom: 1.6vw;
        }
        h6 {
            font-size: 2.8vw;
        }
    }
    .A_postCreator {
        padding: 0.5vw;
    }
    .A_showPostCreator {
        height: 100%;
        gap: 2.5vw;
        h4 {
            margin-bottom: 1.5vw;
        }
    }
    .A_likes {
        padding: 4.3vw 2vw;
        height: 9.2vw;
        gap: 1.3vw;

    }
    .A_commentCreator {
        border-right: 0.5vw solid var(--orange);
        border-bottom: 0.5vw solid var(--orange);
    }
    .A_uploadPostImage {
        width: 56vw;
        height: 67.9vw;
        margin-bottom: 15.3vw;
    }
    .A_addItemInputField {
        label {
            padding: 1.8vw 4.6vw;
            font-size: 2.8vw;
            line-height: auto;
        }
        input, textarea {
            width: 76.8vw;
            padding: 6.1vw;
            font-size: 2.8vw;
            border: 0.5vw solid var(--grey);
            &:active, &:focus {
                border: 0.5vw solid var(--orange);
            }
        }
    }
    .A_uploadAvatar, .A_editAvatar {
        width: 35.6vw;
        height: 35.6vw;
        margin-bottom: 15.3vw;
    }
    .A_regInputField, .A_logInInputField {
        label {
            padding: 1.8vw 4.6vw;
            font-size: 2.8vw;
            line-height: auto;
        }
        input, textarea {
            width: 76.8vw;
            padding: 6.1vw;
            font-size: 2.8vw;
            border: 0.5vw solid var(--grey);
            &:active, &:focus {
                border: 0.5vw solid var(--orange);
            }
        }
    }
}