// Система ---------------------------------------------- 

.A_systemMessage {
    z-index: 99;
    position: fixed;
    bottom: 7vw;
    left: 50%;
    padding: 0.8vw 1.6vw 0.8vw 0.8vw;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8vw;
    border-radius: 3.1vw;
    background-color: var(--blue);
        transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
    img {
        width: 2.3vw;
        height: 2.3vw;
        border-radius: 10vw;
    }
    h3 {
        color: var(--white);
    }
}
.A_systemMessage.show, .systemMessage.show {
    animation: systemMessage 3s cubic-bezier(0.15, 0.83, 0.66, 1) forwards;

    
}
.A_systemMessage.fade-out, .systemMessage.fade-out {
    opacity: 0;
    transform: translateX(-50%) translateY(-10vw);
}
@keyframes systemMessage {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(10vw);
    }
    20% {
        opacity: 1;
        transform: translateX(-50%) translateY(0vw);
    }
    80% {
        opacity: 1;
        transform: translateX(-50%) translateY(0vw);
    }
    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(10vw);
    }
}


// Меню ---------------------------------------------- 

.A_menuButton {
    padding: 0.5vw 0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
    span {
        font-size: 13px;
        text-transform: uppercase;
    }
    &.new {
        border: 0.1vw solid var(--orange);
        &.activePage {
            background-color: var(--orange); 
            span {
                color: var(--white);
            }
        }
    }
    &:hover {
        span {
            color: var(--orange);
        }
    }
    &.search {
        justify-content: flex-start;
        border-bottom: 0.1vw solid var(--orange);
        width: 12.19vw;
    }
    &.profile {
        padding-right: 0;
    }
}
.A_menuPreButton {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border: 0.16vw solid var(--orange);
    border-right: 0vw solid var(--orange);
    color: var(--dark-grey);
    &.activePage {
        background-color: var(--orange); 
        color: var(--white);
    }
}
.A_dropdownMenuBlock {
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
}


// Сортировка и фильтры ---------------------------------------------- 

.A_filterSort, .A_filterCheckbox  {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6vw;
    h4 {
        color: var(--black);
        text-transform: uppercase;
    }
}
.A_clearFilter, .A_showResult, .A_resultFilterBtn {
    padding: 0.5vw 0.8vw;
}
.A_showResult, .A_resultFilterBtn {
    background-color: var(--orange);
    h4 {
        color: var(--white);
        text-transform: uppercase;
    }
}
.A_clearFilter {
    background-color: var(--white);
    h4 {
        color: var(--grey-dark);
        text-transform: uppercase;
    }
}


// Формы, инпуты и другое ---------------------------------------------- 

.A_addItemInput {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.A_formItemsToggle {
    display: flex;
    flex-direction: row;
    gap: 0.8vw;
    h4 {
        text-transform: uppercase;
        cursor: pointer;
        opacity: 0.5;
        &.active {
            opacity: 1;
        }
    }
}
.A_formItemContent {
    display: flex;
    flex-direction: row;
    gap: 0.8vw;
}
.A_uploadAvatar, .A_editAvatar {
    width: 8.6vw;
    height: 8.6vw;
    position: relative;
    margin-bottom: 2.4vw;
}
.A_settingsUploadAvatar, .A_settingsEditAvatar {
    width: 8.6vw;
    height: 8.6vw;
    position: relative;
    border-radius: 100%;
}
.A_uploadPostPreview, .A_uploadItemPreview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30.8vw;
    height: 34.5vw;
    position: relative;
    gap: 0.8vw;
    background-color: var(--grey);
    cursor: pointer;
    h4 {
        text-align: center;
        max-width: 15.8vw;
    }
}
.A_uploadItemPreview {
    width: 22.7vw;
    height: 22.7vw;
}
.A_newsletterForm {
    position: relative;
}


// Логин, регистрации, редактирование профиля ---------------------------------------------- 

.A_logInRemember{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6vw;
    width: 100%;
    check_box {
        background-color: var(--orange);
    }
    label {
        font-size: 1.3vw;
        color: var(--black);
    }
}
.A_regHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8vw;
}


// Коллекции ---------------------------------------------- 

.A_selectedCollection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    padding: 0.8vw 1.2vw;
    cursor: pointer;
    p {
        transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
        font-weight: 600;
        color: var(--white);
    }
    img {
        width: 1.9vw;
        height: 1.9vw;
        object-fit: cover;
    }
    &.active {
        img {
            transform: scaleY(-1);
        }
    }
}
.postPartial, .item {
    .A_selectedCollection {
        &.active {
            p {
                color: var(--black);
            }
            img {
                filter: invert(1);
            }
        }
    }
}

.post {
    .A_selectedCollection {
        p {
            color: var(--black);
        }
        img {
            filter: invert(1);
        }
    }
}
.A_saveToCollectionBtn {
    background-color: var(--orange);
    font-size: 1.3vw;
    text-transform: uppercase;
    padding: 1.2vw 1.6vw;
    color: var(--white);
    transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
    cursor: pointer;
}
.item {
    .A_saveToCollectionBtn {
        display: none;
    }
}

.A_saveToCollectionBtnCompact {
    background-color: var(--orange);
    padding: 0.8vw 1.2vw ;
    transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
    cursor: pointer;
    img {
        object-fit: cover;
        width: 1.6vw ;
        height: 1.6vw ;
    }
}
.post {
    .A_saveToCollectionBtnCompact {
        display: none;
    }
}
.big {
    .A_saveToCollectionBtn {
        display: block;
    }
    .A_saveToCollectionBtnCompact {
        display: none;
    }
}
.compact {
    .A_saveToCollectionBtn {
        display: none;
    }
    .A_saveToCollectionBtnCompact {
        display: block;
    }
}
.A_collectionObj, .A_addCollectionBtn {
    display: flex;
    flex-direction: row;
    gap: 1.2vw;
    padding: 0.4vw;
    align-items: center;
    transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
    cursor: pointer;
    h3 {
        font-weight: 600;
        color: var(--black);
    }
    img {
       width: 2.9vw;
       height: 2.9vw;
       object-fit: cover;
    }
}
.A_collectionObj:hover {
    background-color: var(--white);
}
.A_addCollectionBtn  {
    padding: 1.2vw 0.4vw 0.4vw 0.4vw;
    border-top: 0.1vw solid var(--white);
}
.A_gridWrapper {
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0;
  width: 100%;
  height: 100%;
    overflow: hidden;
}


// Посты ---------------------------------------------- 

.A_postPartialCreator, .A_postCreator, .A_menuUser {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 0.4vw 0.8vw;
    gap: 0.8vw;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 3.1vw;
    width: max-content;
    &.active {
        background-color: var(--orange);
        h4 {
            color: var(--white);
            font-weight: 400;
        }
    }
}
.A_postCreator {
    background-color: rgba(249, 249, 249, 1);
}
.A_likes {
    gap: 0.4vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.A_suggestionCard {
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
    padding: 0.8vw;
    margin: 0;
    align-items: center;
    transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
    img {
        width: 4.7vw;
        height: 4.7vw;
        object-fit: cover;
        border-radius: 100%;
    }
    &:hover {
        margin: 0 0.8vw
    }
}



// Теги ---------------------------------------------- 

.A_addTagsBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8vw;
    border-bottom: 0.1vw solid var(--grey-dark);
    padding: 1.4vw 0.8vw;
    h4 {
        opacity: 50%;
        text-transform: uppercase;
        transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
    }
    img {
        width: 0.8vw;
        height: 0.8vw;
        transform: rotate(45deg);
        object-fit: cover;
        opacity: 50%;
        transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
    }
    &:hover {
        img, h4 {
            opacity: 1;
        }

    }
    &.active {
        img {
            transform: rotate(0deg);
        }
    }
}


// Комментарии ---------------------------------------------- 

.A_commentCreator {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8vw;
    img {
       width: 1.6vw;
       height: 1.6vw;
       object-fit: cover; 
       border-radius: 10vw;
    }
    h2 {
        font-weight: 600;
        color: var(--black);
    }
}


// Футер ---------------------------------------------- 

.A_footerSocials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 1.8vw;
    h6 {
        padding: 0 0.8vw;
        font-size: 1vw;
        color: var(--orange);
        background-color: var(--white);
        border: 0.16vw solid var(--white);
        line-height: 1.6vw;

    }
    div {
        display: flex;
        flex-direction: row;
        gap: 1vw;
        color: var(--white); 
        padding: 0.8vw 1.2vw;
        border: 0.16vw solid var(--white);
        img {
            width: 2.8vw;
            height: 2.8vw;
        }
    }
}
.A_footerApp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h6 {
        padding: 0 0.8vw;
        font-size: 1vw;
        color: var(--orange);
        background-color: var(--white);
        border: 0.16vw solid var(--white);
        line-height: 1.6vw;

    }
    div {
        display: flex;
        flex-direction: row;
        gap: 1vw;
        color: var(--white); 
        padding: 0.8vw 1.2vw;
        border: 0.16vw solid var(--white);
        img {
            width: 6vw;
            height: 6vw;
        }
    }
}

.A_followsCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8vw;
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {

    // Логин, регистрации, редактирование профиля ---------------------------------------------- 
    .A_logInRemember{
        gap: 0.8vw;
        label {
            font-size: 16px;
        }
    }
    .A_regHeader{
        gap: 1vw;
    }
    // Профиль ---------------------------------------------- 
    .A_selectedCollection {
        gap: 0.7vw;
        padding: 1vw 1.5vw;
        img {
            width: 2.1vw;
            height: 2.1vw;
        }
    }
    .A_saveToCollectionBtnCompact {
        padding: 1.5vw 1.7vw;
        img {
            width: 2.3vw;
            height: 2.3vw;
        }
    }
    .A_collectionObj, .A_addCollectionBtn {
        gap: 1.5vw;
        padding: 0.5vw;
        img {
            width: 3.6vw;
            height: 3.6vw;
        }
    }
    .A_followsCard {
        gap: 1vw;
    }
    .A_postPartialCreator, .A_postCreator, .A_menuUser {
        padding: 0.5vw 1vw;
        gap: 1vw;
        border-radius: 10vw;
    }
    .A_saveToCollectionBtn {
        font-size: 20px;
        padding: 1.5vw 2vw;
    }

    // Сортировка и фильтры ---------------------------------------------- 
    .A_filterSort, .A_filterCheckbox  {
        gap: 0.8vw;
    }
    .A_clearFilter, .A_showResult, .A_resultFilterBtn {
        padding: 0.7vw 1vw;
    }

    // Комментарии ---------------------------------------------- 
    .A_commentCreator {
        gap: 0.7vw;
        img {
        width: 2.3vw;
        height: 2.3vw;
        }
    }

    // Формы, инпуты и другое ---------------------------------------------- 
    .A_uploadPostPreview, .A_uploadItemPreview {
        width: 30.3vw;
        height: 37.7vw;
        gap: 1vw;
        h4 {
            max-width: 24.2vw;
        }
    }

    // Теги ---------------------------------------------- 
    .A_addTagsBtn {
        gap: 0.5vw;
        padding: 1vw;
        img {
            width: 1vw;
            height: 1vw;
        }
    }

    .A_formItemsToggle {
        gap: 1vw;
    }
    .A_formItemContent {
        gap: 1vw;
    }

    .A_menuButton {
        padding: 0.5vw 1vw;
        span {
            font-size: 16px;
        }
    }
    .A_dropdownMenuBlock {
        gap: 1vw;
    }
    .A_settingsUploadAvatar, .A_settingsEditAvatar {
        width: 10vw;
        height: 10vw;
    }
}

@media only screen and (min-width: 744px) and (max-width: 1023px) {

    // Логин, регистрации, редактирование профиля ---------------------------------------------- 
    .A_logInRemember{
        gap: 1.1vw;
        label {
            font-size: 14px;
        }
    }
    .A_regHeader{
        gap: 1.3vw;
    }

    // Профиль ---------------------------------------------- 
    .A_selectedCollection {
        gap: 0.9vw;
        padding: 1.3vw 2vw;
        img {
            width: 3vw;
            height: 3vw;
        }
    }
    .post {
        .A_selectedCollection {
            padding: 1.3vw 0;
        }
    }
    .A_saveToCollectionBtnCompact {
        padding: 0.9vw;
        img {
            width: 3.2vw;
            height: 3.2vw;
        }
    }
    .A_collectionObj, .A_addCollectionBtn {
        gap: 2vw;
        padding: 0.7vw;
        img {
            width: 5vw;
            height: 5vw;
        }
    }
    .A_followsCard {
        gap: 1.3vw;
    }
    .A_postPartialCreator, .A_postCreator, .A_menuUser {
        padding: 0.7vw 1.3vw;
        gap: 1.3vw;
        border-radius: 10vw;
    }
    .A_saveToCollectionBtn {
        font-size: 16px;
        padding: 1.3vw 2.7vw;
    }

    // Сортировка и фильтры ---------------------------------------------- 
    .A_filterSort, .A_filterCheckbox  {
        gap: 1.1vw;
    }
    .A_clearFilter, .A_showResult, .A_resultFilterBtn {
        padding: 0.9vw 1.3vw;
    }

    // Комментарии ---------------------------------------------- 
    .A_commentCreator {
        gap: 0.9vw;
        img {
        width: 3.2vw;
        height: 3.2vw;
        }
    }

    // Формы, инпуты и другое ---------------------------------------------- 
    .A_uploadPostPreview, .A_uploadItemPreview {
        width: 60.6vw;
        height: 68vw;
        gap: 1.3vw;
        h4 {
            max-width: 33.3vw;
        }
    }

    // Теги ---------------------------------------------- 
    .A_addTagsBtn {
        gap: 0.7vw;
        padding: 1.3vw;
        img {
            width: 1.3vw;
            height: 1.3vw;
        }
    }

    .A_formItemsToggle {
        gap: 1.3vw;
    }
    .A_formItemContent {
        gap: 1.3vw;
    }

    .A_menuButton {
        padding: 0.9vw 1vw;
        span {
            font-size: 14px;
        }
    }
    .A_dropdownMenuBlock {
        gap: 1.3vw;
    }
    .A_settingsUploadAvatar, .A_settingsEditAvatar {
        width: 16vw;
        height: 16vw;
    }
}

@media only screen and (min-width: 393px) and (max-width: 743px) {

    // Логин, регистрации, редактирование профиля ---------------------------------------------- 
    .A_logInRemember{
        gap: 2vw;
        label {
            font-size: 12px;
        }
    }
    .A_regHeader{
        gap: 2.5vw;
    }

    // Профиль ---------------------------------------------- 
    .A_selectedCollection {
        gap: 1.8vw;
        padding: 2.5vw 3.8vw;
        img {
            width: 5.6vw;
            height: 5.6vw;
        }
    }
    .post {
        .A_selectedCollection {
            padding: 2.5vw 0;
        }
    }
    .item {
        .A_selectedCollection {
            padding: 1vw 3.8vw;
        }
    }
    .A_saveToCollectionBtnCompact {
        padding: 2.5vw 3.1vw;
        img {
            width: 4.6vw;
            height: 4.6vw;
        }
    }
    .A_collectionObj, .A_addCollectionBtn {
        gap: 3.8vw;
        padding: 1.3vw;
        img {
            width: 9.4vw;
            height: 9.4vw;
        }
    }
    .A_followsCard {
        gap: 2.5vw;
    }
    .A_postPartialCreator, .A_postCreator, .A_menuUser {
        padding: 1.3vw 2.5vw;
        gap: 2.5vw;
        border-radius: 10vw;
    }
    .A_saveToCollectionBtn {
        font-size: 15px;
        padding: 3.5vw 5.1vw;
    }

    // Сортировка и фильтры ---------------------------------------------- 
    .A_filterSort, .A_filterCheckbox  {
        gap: 2vw;
    }
    .A_clearFilter, .A_showResult, .A_resultFilterBtn {
        padding: 1.8vw 2.5vw;
    }

    // Комментарии ---------------------------------------------- 
    .A_commentCreator {
        gap: 1.8vw;
        img {
        width: 6.1vw;
        height: 6.1vw;
        }
    }

    // Формы, инпуты и другое ---------------------------------------------- 
    .A_uploadPostPreview, .A_uploadItemPreview {
        width: 44.8vw;
        height: 51.7vw;
        gap: 2.5vw;
        h4 {
            max-width: 25.4vw;
        }
    }

    // Теги ---------------------------------------------- 
    .A_addTagsBtn {
        gap: 1.3vw;
        padding: 2.5vw;
        img {
            width: 2.5vw;
            height: 2.5vw;
        }
    }
    .A_formItemsToggle {
        gap: 2.5vw;
    }

    .A_formItemContent {
        gap: 2.5vw;
    }
    .A_menuButton {
        padding: 0;
    }
    .A_mobileNavLink{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2vw;
        img {
            width: 4.6vw;
            height: 4.6vw;
            object-fit: cover;
        }
        p {
            color: var(--white);
            text-transform: uppercase;
        }
    }


}