//Сортировка и Фильтры
.C_sortCategories {
    display: flex;
    flex-direction: column;
    gap: 1.6vw;
}
.C_filterCattegories {
    display: flex;
    flex-direction: column;
    gap: 3.9vw;
    overflow-y: scroll;
    max-height: 75vh;
    scrollbar-width: none;
}
.C_filtersBtns {
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
}





.C_postPartialCollectionList {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.4vw;
    max-height: 14.1vw;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.C_postItems {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.4vw ;
    margin-top: 9vw;
}

.C_postCommentFeed {
    position: relative;
    width: 46.5vw;
    display: flex;
    flex-direction: column;
    gap: 8vw;
    background-color: var(--grey);
    padding: 3.6vw;
}

.C_commentReplies {
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
}

#C_postsFeed {
    display: block;
    width: 100%; 
}

.C_profileFeed {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.6vw;
    align-items: flex-start;
    width: 100%;
    &.active {
        display: flex;
    }
}
.C_regInputs,.C_logInInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2vw;
}
.C_regActions, .C_logInActions, .C_addItemActions, .C_editProfileActions {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.C_addItemsInputs, .C_newPostAddItems {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
    align-items: flex-start;
    padding-top: 3.6vw;
    margin-top: 2.4vw;
    h3 {
        position: absolute;
        left: -16vw;
        top: 0;
    }
}
.C_newPostAddItems {
    gap: 2vw;
    h4 {
        color: var(--blue);
    }
}
.C_newPostTags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 42vw;
    gap: 0.8vw;
    margin-top: 0.7vw;
}
.C_postTags {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 0.8vw;
    flex-wrap: wrap;
}
@media only screen and (max-width: 430px) {
    .C_postItems {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2.4vw ;
        margin-top: 9vw;
    }
    
    .C_postCommentFeed {
        position: relative;
        width: 46.5vw;
        display: flex;
        flex-direction: column;
        gap: 8vw;
        background-color: var(--grey);
        padding: 3.6vw;
    }
    
    .C_commentReplies {
        display: flex;
        flex-direction: column;
        gap: 1.2vw;
    }
    
    #C_postsFeed {
        gap: 7.6vw;
    }
    .C_popularPosts {
        gap: 5.3vw;
        overflow-x: hidden;
    }
    .C_postTags {
        gap: 3.3vw;
    }
    .C_postItems {
        flex-direction: column;
        gap: 10.2vw ;
        margin-top: 15.3vw;
    }
    .C_postCommentFeed {
        width: 100%;
        gap: 15.3vw;
        padding: 7.6vw;
    }
    .C_commentReplies {
        gap: 3.3vw;
    }
    .C_addItemsInputs, .C_newPostAddItems {
        gap: 5.3vw;
        padding-top: 17vw;
        margin-top: 0;
        h3 {
            left: -6vw;
            top: 0;
        }
    }
    .C_newPostAddItems {
        gap: 5.6vw;
        h4 {
            color: var(--blue);
        }
    }
    .C_newPostTags {
        max-width: 76.8vw;
        gap: 3.1vw;
        margin-top: 2.6vw;
    }
    .C_regInputs,.C_logInInputs {
        gap: 4.8vw;
    }
}