// Меню ---------------------------------------------- 
// Сортировка и фильтры ---------------------------------------------- 
// Формы, инпуты и другое ---------------------------------------------- 
// Логин, регистрации, редактирование профиля ---------------------------------------------- 
// Страница для неавторизованных пользователей (вместо постов) ---------------------------------------------- 
// Коллекции ---------------------------------------------- 
// Посты ---------------------------------------------- 
// Теги ---------------------------------------------- 
// Товары ---------------------------------------------- 
// Комментарии ---------------------------------------------- 
// Профиль ---------------------------------------------- 
// Футер ---------------------------------------------- 


.C_menuUsers {
    display: flex;
    flex-direction: column;
    gap: 0.4vw;
}


// Сортировка и фильтры ---------------------------------------------- 

.C_sortCategories {
    display: flex;
    flex-direction: column;
    gap: 1.6vw;
}
.C_filterCattegories {
    display: flex;
    flex-direction: column;
    gap: 3.9vw;
    overflow-y: scroll;
    max-height: 75vh;
    scrollbar-width: none;
}
.C_filtersBtns {
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
}


// Формы, инпуты и другое ---------------------------------------------- 

.C_formPostDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5.6vw;
}
.C_formPostBtns {
    display: flex;
    flex-direction: row;
}


// Логин, регистрации, редактирование профиля ---------------------------------------------- 

.C_regInputs,.C_logInInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2vw;
}
.C_regActions, .C_logInActions, .C_addItemActions, .C_editProfileActions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.1vw;
}


// Страница для неавторизованных пользователей (вместо постов) ---------------------------------------------- 

.C_welcomePopularImgs {
    display: flex;
    flex-direction: row;
    gap: 1.6vw;
}
.C_welcomeTags {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    .Q_tag {
        padding:1.2vw 2.1vw;
    }
}


// Коллекции ---------------------------------------------- 

.C_collectionList {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.4vw;
    max-height: 14.1vw;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}
.C_collectionsGrid {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 5vw;
}

// Посты ---------------------------------------------- 

#C_postsFeed {
    display: block;
    width: 100%; 
}


// Теги ---------------------------------------------- 

.C_tagsList {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.6vw;
}
.C_postTags {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 0.8vw;
    flex-wrap: wrap;
}


// Товары ---------------------------------------------- 

.C_postItems {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.2vw 1.6vw;
}
.C_itemsList {
    display: flex;
    flex-direction: column;
    gap: 1.6vw;
}


// Комментарии ---------------------------------------------- 

.C_postCommentFeed, .C_commentReplies {
    display: flex;
    flex-direction: column;
    gap: 3.1vw;
}
.C_commentReplies {
    margin-left: 4.3vw;
}


// Профиль ---------------------------------------------- 

.C_subscriptionsInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2vw;
}
.C_profileFeedPosts{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2.2vw 1.6vw;
}
.C_profileFeedItems {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.2vw 1.6vw;
}
.C_profileFeed {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.6vw;
    align-items: flex-start;
    width: 100%;
    &.active {
        display: flex;
    }
}


// Футер ---------------------------------------------- 

.C_footerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


@media only screen and (max-width: 430px) {
    
    .C_postCommentFeed {
        position: relative;
        width: 46.5vw;
        display: flex;
        flex-direction: column;
        gap: 8vw;
        background-color: var(--grey);
        padding: 3.6vw;
    }
    
    .C_commentReplies {
        display: flex;
        flex-direction: column;
        gap: 1.2vw;
    }
    
    #C_postsFeed {
        gap: 7.6vw;
    }
    .C_popularPosts {
        gap: 5.3vw;
        overflow-x: hidden;
    }
    .C_postTags {
        gap: 3.3vw;
    }
    .C_postItems {
        flex-direction: column;
        gap: 10.2vw ;
    }
    .C_postCommentFeed {
        width: 100%;
        gap: 15.3vw;
        padding: 7.6vw;
    }
    .C_commentReplies {
        gap: 3.3vw;
    }
    .C_addItemsInputs, .C_newPostAddItems {
        gap: 5.3vw;
        padding-top: 17vw;
        margin-top: 0;
        h3 {
            left: -6vw;
            top: 0;
        }
    }
    .C_newPostAddItems {
        gap: 5.6vw;
        h4 {
            color: var(--blue);
        }
    }
    .C_newPostTags {
        max-width: 76.8vw;
        gap: 3.1vw;
        margin-top: 2.6vw;
    }
    .C_regInputs,.C_logInInputs {
        gap: 4.8vw;
    }
}