// Меню ---------------------------------------------- 
// Сортировка и фильтры ---------------------------------------------- 
// Формы, инпуты и другое ---------------------------------------------- 
// Логин, регистрации, редактирование профиля ---------------------------------------------- 
// Страница для неавторизованных пользователей (вместо постов) ---------------------------------------------- 
// Коллекции ---------------------------------------------- 
// Посты ---------------------------------------------- 
// Теги ---------------------------------------------- 
// Товары ---------------------------------------------- 
// Комментарии ---------------------------------------------- 
// Профиль ---------------------------------------------- 
// Футер ---------------------------------------------- 


.C_menuUsers {
    display: flex;
    flex-direction: column;
    gap: 0.4vw;
}


// Сортировка и фильтры ---------------------------------------------- 

.C_sortCategories {
    display: flex;
    flex-direction: column;
    gap: 1.6vw;
}
.C_filterCattegories {
    display: flex;
    flex-direction: column;
    gap: 3.9vw;
    overflow-y: scroll;
    max-height: 75vh;
    scrollbar-width: none;
}
.C_filtersBtns {
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
}


// Формы, инпуты и другое ---------------------------------------------- 

.C_formPostDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5.6vw;
}
.C_formPostBtns {
    display: flex;
    flex-direction: row;
}
.C_settingsNav {
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
    align-items: flex-start;
}
.C_settingsInputs{
    display: flex;
    flex-direction: column;
    gap: 1.6vw;
    width: 100%;
}
.C_settingsFormBtns {
    display: none;
}


// Логин, регистрации, редактирование профиля ---------------------------------------------- 

.C_regInputs, .C_logInInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2vw;
}
.C_regActions, .C_logInActions, .C_addItemActions, .C_editProfileActions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9vw;
}


// Страница для неавторизованных пользователей (вместо постов) ---------------------------------------------- 

.C_welcomePopularImgs {
    display: flex;
    flex-direction: row;
    gap: 1.6vw;
}
.C_welcomeTags {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}


// Коллекции ---------------------------------------------- 

.C_collectionList {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.4vw;
    max-height: 14.1vw;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}
.C_collectionsGrid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    margin-top: 2vw;
    gap: 2.2vw;
}

// Посты ---------------------------------------------- 

#C_postsFeed {
    display: block;
    width: 100%; 
}
.C_suggestionList {
    display: flex;
    flex-direction: row;
    gap: 0.8vw;
    align-items: center;
}


// Теги ---------------------------------------------- 

.C_tagsList {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.6vw;
}
.C_postTags, .C_newPostTags {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 0.8vw;
    flex-wrap: wrap;
}


// Товары ---------------------------------------------- 

.C_postItems {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.2vw 1.6vw;
}
.C_itemsList {
    display: flex;
    flex-direction: column;
    gap: 1.6vw;
}


// Комментарии ---------------------------------------------- 

.C_postCommentFeed, .C_commentReplies {
    display: flex;
    flex-direction: column;
    gap: 3.1vw;
}
.C_commentReplies {
    margin-left: 4.3vw;
}


// Профиль ---------------------------------------------- 

.C_subscriptionsInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2vw;
}
.C_profileFeedPosts{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2.2vw 1.6vw;
}
.C_profileFeedItems {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.2vw 1.6vw;
}
.C_profileFeed {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.6vw;
    align-items: flex-start;
    width: 100%;
    &.active {
        display: flex;
    }
}


.C_notifications {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.8vw;
}

// Футер ---------------------------------------------- 

.C_footerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    // Логин, регистрации, редактирование профиля ---------------------------------------------- 
    .C_regInputs, .C_logInInputs {
        gap: 2.4vw;
        width: 100%;
    }
    .C_regActions, .C_logInActions, .C_addItemActions, .C_editProfileActions {
        gap: 1.1vw;
    }

    // Профиль ---------------------------------------------- 
    .C_subscriptionsInfo {
        gap: 2.4vw;
    }
    .C_profileFeedPosts{
        grid-template-columns: repeat(4, 1fr);
        gap: 2.1vw;
    }
    .C_collectionList {
        gap: 0.5vw;
        max-height: 100%;
    }
    .C_profileFeedItems {
        grid-template-columns: repeat(3, 1fr);
        gap: 2.7vw 2vw;
    }

    // Сортировка и фильтры ---------------------------------------------- 
    .C_sortCategories {
        gap: 2vw;
    }
    .C_filterCattegories {
        gap: 4.9vw;
    }

    // Теги ---------------------------------------------- 
    .C_postTags, .C_newPostTags {
        gap: 1vw;
    }
    .C_tagsList {
        gap: 2vw;
    }

    // Товары ---------------------------------------------- 
    .C_postItems {
        grid-template-columns: repeat(3, 1fr);
        gap: 2.7vw 2vw;
    }
    .C_itemsList {
        gap: 2vw;
    }

    // Комментарии ---------------------------------------------- 
    .C_postCommentFeed, .C_commentReplies {
        gap: 2vw;
    }

    // Формы, инпуты и другое ---------------------------------------------- 
    .C_formPostDetails {
        gap: 7vw;
    }

    .C_collectionsGrid {
        margin-top: 5vw;
        gap: 2.1vw;
    }

    .C_settingsNav {
        gap: 1vw;
    }
    .C_settingsInputs{
        gap: 2vw;
    }
} 

@media only screen and (min-width: 744px) and (max-width: 1023px) {
    // Страница для неавторизированных пользователей ---------------------------------------------- 
    .C_welcomeTags {
        justify-content: flex-start;
        gap: 1.2vw;
    }

    // Логин, регистрации, редактирование профиля ---------------------------------------------- 
    .C_regInputs, .C_logInInputs {
        gap: 3.4vw;
        width: 49vw;
    }
    .C_regActions, .C_logInActions, .C_addItemActions, .C_editProfileActions {
        gap: 1.5vw;
    }

    // Профиль ---------------------------------------------- 
    .C_subscriptionsInfo {
        gap: 2.7vw;
    }
    .C_profileFeedPosts{
        grid-template-columns: repeat(3, 1fr);
        gap: 2.7vw;
    }
    .C_collectionList {
        gap: 0.7vw;
        max-height: 100%;
    }
    .C_profileFeedItems {
        grid-template-columns: repeat(2, 1fr);
        gap: 3.8vw 2.7vw;
    }

    // Сортировка и фильтры ---------------------------------------------- 
    .C_sortCategories {
        gap: 2.7vw;
    }
    .C_filterCattegories {
        gap: 6.7vw;
    }

    // Теги ---------------------------------------------- 
    .C_postTags, .C_newPostTags {
        gap: 1.3vw;
    }
    .C_tagsList {
        gap: 2.7vw;
    }

    // Товары ---------------------------------------------- 
    .C_postItems {
        grid-template-columns: repeat(2, 1fr);
        gap: 3.8vw 2.7vw;
    }
    .C_itemsList {
        gap: 2.7vw;
    }

    // Комментарии ---------------------------------------------- 
    .C_postCommentFeed, .C_commentReplies {
        gap: 2.7vw;
    }

    // Формы, инпуты и другое ---------------------------------------------- 
    .C_formPostDetails {
        gap: 9.7vw;
    }
    .C_collectionsGrid {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 2vw;
        gap: 2.7vw;
    }

    // Футер ---------------------------------------------- 
    .C_footerNav {
        display: none;
    }

    .C_settingsNav {
        gap: 1.3vw;
    }
    .C_settingsInputs{
        gap: 2.7vw;
    }
}    


@media only screen and (min-width: 393px) and (max-width: 743px) {
    // Страница для неавторизированных пользователей ---------------------------------------------- 
    .C_welcomeTags {
        justify-content: flex-start;
        gap: 4vw;
    }

    // Логин, регистрации, редактирование профиля ---------------------------------------------- 
    .C_regInputs, .C_logInInputs {
        gap: 6.4vw;
        width: 100%;
    }
    .C_regActions, .C_logInActions, .C_addItemActions, .C_editProfileActions {
        gap: 2.8vw;
    }

    // Профиль ---------------------------------------------- 
    .C_subscriptionsInfo {
        gap: 5.1vw;
    }
    .C_profileFeedPosts{
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5vw;
    }
    .C_collectionList {
        gap: 1.3vw;
        max-height: 100%;
    }
    .C_profileFeedItems {
        grid-template-columns: repeat(2, 1fr);
        gap: 7.1vw 5.1vw;
    }

    // Сортировка и фильтры ---------------------------------------------- 
    .C_sortCategories {
        gap:5.1vw;
    }
    .C_filterCattegories {
        gap: 10.2vw;
    }

    // Теги ---------------------------------------------- 
    .C_postTags, .C_newPostTags {
        gap: 2.5vw;
    }
    .C_tagsList {
        gap: 5.1vw;
    }

    // Товары ---------------------------------------------- 
    .C_postItems {
        grid-template-columns: repeat(2, 1fr);
        gap: 7.1vw 5.1vw;
    }
    .C_itemsList {
        gap: 5.1vw;
    }

    // Комментарии ---------------------------------------------- 
    .C_postCommentFeed, .C_commentReplies {
        gap: 5.1vw;
    }

    // Формы, инпуты и другое ---------------------------------------------- 
    .C_formPostDetails {
        gap: 18.3vw;
    }
    .C_collectionsGrid {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 10vw;
        gap: 5.1vw 2.5vw;
    }

    // Футер ---------------------------------------------- 
    .C_footerNav {
        display: none;
    }


}    