// Сортировка и фильтры ---------------------------------------------- 

.M_filterSort {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.9vw;
}


// Формы, инпуты и другое ---------------------------------------------- 

.M_formPostAddInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.6vw;
    width: 100%;
    h1 {
        opacity: 50%;
        text-transform: uppercase;
        font-weight: 400;
    }
}
.M_uploadPostImg {
    width: 100%;
    height: fit-content;
    padding-top: 5.5vw;
}
.M_modalImageBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
}
.M_formItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.M_settingsProfile {
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
    align-items: center;
    padding: 0 0.8vw;
}
.M_settingsFormField {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}


// Комментарии ---------------------------------------------- 

.M_commentForm {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1.6vw;
}


// Профиль ---------------------------------------------- 

.M_profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.3vw;
}
.M_followsCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30.6vw;
    padding: 1vw 0;
    border-bottom: 0.1vw solid rgba(0, 0, 0, 0.25);

}


// Футер ---------------------------------------------- 

.M_footerContent {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
    width: 100%;
    h4 {
        text-transform: uppercase;
        color: var(--white);
        font-weight: 400;
        width: max-content;
    }
}

.M_collectionCard {
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {

    // Профиль ---------------------------------------------- 
    .M_profileInfo {
        gap: 1vw;
    }
    .M_followsCard {
        width: 46vw;
        padding: 1vw 0;
    }

    // Сортировка и фильтры ---------------------------------------------- 
    .M_filterSort {
        gap: 4.9vw;
    }

    // Комментарии ---------------------------------------------- 
    .M_commentForm {
        gap: 1.5vw;
    }

    // Формы, инпуты и другое ---------------------------------------------- 
    .M_uploadPostImg {
        padding-top: 6.8vw;
    }
    .M_formPostAddInfo {
        gap: 2vw;
    }

    .M_collectionCard {
        gap: 1vw;
    }

    // Футер ---------------------------------------------- 
    .M_footerContent {
        gap: 1vw;
    }
}

@media only screen and (min-width: 744px) and (max-width: 1023px) {

    // Профиль ---------------------------------------------- 
    .M_profileInfo {
        gap: 1.3vw;
    }
    .M_followsCard {
        width: 70vw;
        padding: 1.3vw 0;
    }

    // Сортировка и фильтры ---------------------------------------------- 
    .M_filterSort {
        gap: 6.7vw;
    }

    // Комментарии ---------------------------------------------- 
    .M_commentForm {
        gap: 2vw;
    }

    // Формы, инпуты и другое ---------------------------------------------- 
    .M_uploadPostImg {
        display: flex;
        justify-content: center;
        padding-top: 0;
        padding-bottom: 9.4vw;
    }
    .M_formPostAddInfo {
        gap: 2.7vw;
    }

    .M_collectionCard {
        gap: 1.3vw;
    }

    // Футер ---------------------------------------------- 
    .M_footerContent {
        gap: 1.3vw;
        width: 45%;
    }
}

@media only screen and (min-width: 393px) and (max-width: 743px) {

    // Профиль ---------------------------------------------- 
    .M_profileInfo {
        gap: 2.5vw;
    }
    .M_followsCard {
        width: 80vw;
        padding: 2.5vw 0;
    }

    // Сортировка и фильтры ---------------------------------------------- 
    .M_filterSort {
        gap: 12.7vw;
    }

    // Комментарии ---------------------------------------------- 
    .M_commentForm {
        gap: 3.8vw;
    }

    // Формы, инпуты и другое ---------------------------------------------- 
    .M_uploadPostImg {
        display: flex;
        justify-content: center;
        padding-top: 0;
        padding-bottom: 17.8vw;
    }
    .M_formPostAddInfo {
        gap: 5.1vw;
    }

    .M_collectionCard {
        gap: 2.5vw;
    }

    // Футер ---------------------------------------------- 
    .M_footerContent {
        gap: 2.5vw;
    }

}