.M_commentForm {
    width: 29.2vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2.4vw;
}

.M_profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8vw;
    h2 {
        color: var(--blue);
    }
    h6 {
        font-weight: bold;
        padding: 0.6vw 1.2vw;
        color: var(--white);
        background-color: var(--orange);
    }
}

@media only screen and (max-width: 430px) { 
    .M_commentForm {
        width: 82.2vw;
        margin-top: -8.1vw;
    }
    .M_profileInfo {
        gap: 1.5vw;
        h6 {
            padding: 1.3vw 3.3vw;
        }
    }
}