// Сортировка и фильтры ---------------------------------------------- 

.O_sort, .O_filter {
    width: 36.2vw;
    height: 100%;
    transform: translateX(100%);
    background-color: var(--white);
    padding: 2.2vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.show {
    .O_sort, .O_filter {
        transform: translateX(0%);
    }
}


// Формы, инпуты и другое ---------------------------------------------- 

.O_postForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 8.1vw;
}
.O_modalItemForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2.3vw;
    align-items: center;
}


// Логин, регистрации, редактирование профиля ---------------------------------------------- 

.O_loginForm {
    display: flex;
    flex-direction: column;
    gap: 3.1vw;
    width: 100%;
    align-items: center;
}


// Посты ---------------------------------------------- 

.O_postFeedHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2vw;
}
.O_postImages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // gap: 1.2vw;
    width: 100%;
}
.O_postInfo {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.O_post {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto; /* Теперь Masonry сам управляет шириной */
    max-width: 100%; /* Чтобы не ломалось */
    overflow: hidden;
    margin-bottom: 1.5vw;
}


// Товары ---------------------------------------------- 

.O_item {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
}


// Комментарии ---------------------------------------------- 

.O_postComment {
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
    width: 100%;
}


// Профиль ---------------------------------------------- 

.O_profileHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8vw;
    width: 100%;
}
.O_profileFeed {
    margin-top: 3.9vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}
.C_profileFeedPosts {
    .O_post {
        margin-bottom: 0;
    }
}


// Футер ---------------------------------------------- 

.O_footer {
    position: relative;
    background-color: var(--orange);
    width: 94.2vw;
    display: flex;
    flex-direction: row;
    gap: 12.9vw;
    padding: 2vw 6.6vw ;
    margin-top: -3vw;
}

@media only screen and (max-width: 430px) {
    .O_post {
        width: 89.8vw;
        height: 155.2vw;   
    }
    .O_postImages {
        width: 100%;
    }
    .O_postInfo {
        width: 100%;
        max-width: 100%;
        gap: 8.9vw;
        padding: 5.1vw;
    }
    .O_item {
        width: 100%;
        height: 76.3vw;
        border: 0.5vw solid var(--orange);
    }
    .O_postComment {
        gap: 5.1vw;
        padding: 5.1vw;
        padding-top: 18.3vw;
        border: 0.5vw solid var(--orange);
    }
}