.postShow {
    width: 86vw;
    height: 48vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1.24vw;
    overflow: hidden;
    background-color: white;
    .postImage {
        width: 43vw;
        height: 48vw;
        border-radius: 0 1.46vw 1.46vw 0;
        object-fit: cover;
    }
    .postInfo {
        box-sizing: border-box;
        width: 43vw;
        display: flex;
        flex-direction: column;
        padding: 2vw;
        overflow-y: auto;
        .createdAt {
            margin: 0 0 0.56vw 0;
        }
        .postTitle {
            margin: 1vw 0 0vw 0;
            max-width: 36vw;
        }
        .postDescription {
            max-width: 36vw;
            margin: 0.86vw 0 2vw 0;
        }
    }
}