// Главное Меню
.Q_menuLogo {
  font-size: 2.6vw;
  font-family: 'Raydis', sans-serif;
  color: var(--blue);
  margin-left: 1.6vw;
  margin-top: 0.6vw;
}
.Q_menuAvatar {
  border-radius: 10vw;
  width: 2vw;
  height: 2vw;
  object-fit: cover;
}
.Q_menuIcon {
  height: 2vw;
  width: 2vw;
}
.Q_dropdownBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Q_dropdownMenuHeader {
  opacity: 0.5;
}
.Q_postsFilterBtn {
  text-transform: uppercase;
  color: var(--black);
  opacity: 0.5;
  transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
  &:hover {
    opacity: 1;
  }
  &.active {
    opacity: 1;
    color: var(--orange);
  }
}
.Q_emptyArrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--white);
  padding: 0 0.8vw;
  img {
    height: 1.7vw;
    width: 1.7vw;
    object-fit: cover;
  }
  &.prev {
    top: 0;
    left: 0;
    box-shadow: 20px 0 30px 20px var(--white);
    
  }
  &.next {
    top: 0;
    right: 0;
    box-shadow: -20px 0 30px 20px var(--white);
    img {
      transform: rotate(180deg);
    }
  }
}

.Q_followTitle {
  text-transform: uppercase;
  color: var(--black);
  span {
    opacity: 0.5;
  }
}
.Q_followsAvatar {
  width: 4.7vw;
  height: 4.7vw;
  object-fit: cover;
  border-radius: 100%;
}
.Q_followBtn, .Q_unfollowBtn {
    display: flex;
    align-items: center;
    padding: 0.4vw 0.8vw;
    border-radius: 1vw;
    transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
    font-size: 1vw; 
  &:hover {
    transform: scale(1.05);
  }
}
.Q_followBtn {
  background-color: var(--orange);
  color: var(--white);
  border: solid 0.1vw var(--orange);

}
.Q_unfollowBtn {
  background-color: var(--white);
  color: var(--orange);
  border: solid 0.1vw var(--orange);
}

//Сортировка и фильтры
.Q_feedSortBtn, .Q_feedFltrBtn {
  padding: 0.5vw 0.8vw;
  border: 0.1vw solid var(--black);
  transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
  h4 {
    color: var(--black);
    text-transform: uppercase;
    font-weight: 400;
    transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  &:hover {
    background-color: var(--black);
    h4 {
      color: var(--white);
    }
  }
}

.Q_closeBtn, .Q_closeFltrBtn, .Q_modalCloseBtn, .Q_settingsCloseBtn{
  width: 1.7vw;
  height: 1.7vw;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.Q_bullet {
  appearance: none;
  width: 1.3vw;
  height: 1.3vw;
  border: 0.1vw solid var(--orange);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
  margin: 0;
  &:checked {
    background-color: var(--white);
    &:before {
      content: "";
      position: absolute;
      width: 0.7vw;
      height: 0.7vw;
      background-color: var(--orange);
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-51%, -50%);
    }
  }
}
.A_filterSort:hover  {
  .Q_bullet {
    opacity: 0.8;
  }
}
.Q_filterCattegoryName { 
  font-weight: 600;
  text-transform: uppercase;
}
.Q_checkbox {
  appearance: none;
  width: 1.3vw;
  height: 1.3vw;
  border: 0.1vw solid var(--orange);
  background-color: transparent;
  cursor: pointer;
  position: relative;
  display: inline-block;
  &:checked {
    background-color: var(--orange);
  }
  &:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.1vw; 
    height: 1.1vw;
    background-image: image-url('checkmarkIcon.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
  }
}

// Логин
.Q_logInRedirect {
  opacity: 0.5;
}
.Q_logInRedirectLink {
  font-size: 1.3vw;
  text-decoration: underline;
}


// Страница для неавторизованных пользователей (вместо постов)
.Q_welcomeLogo {
  font-family: 'Raydis';
  font-size: 22.4vw;
  color: var(--blue);
  margin-top: -4vw;
  margin-left: -1vw;
}
.Q_welcomeSubtitle {
  line-height: 120%;
  position: absolute;
  top: 19vw;
  right: 0vw;
}
.Q_welcomeAbout {
  line-height: 120%;
  position: absolute;
  width: 30.5vw;
  bottom: 4.9vw;
  left: 26.5vw;
  span {
    font-weight: 600;
  }
}
.Q_welcomeImg1{
  position: absolute;
  width: 31.7vw;
  height: 25.5vw;
  object-fit: cover;
  bottom: 9.4vw;
  left: 0;
}
.Q_welcomeImg2 {
  position: absolute;
  width: 6.7vw;
  height: 8.6vw;
  object-fit: cover;
  bottom: 22.4vw;
  right: 41vw;
}
.Q_welcomeImg3 {
  position: absolute;
  width: 28.4vw;
  height: auto;
  object-fit: cover;
  bottom: 2.3vw;
  right: 0vw;
}
.Q_welcomeSubtitle2 {
  line-height: 120%;
  width: 50vw;
}
.Q_welcomeImg4, .Q_welcomeImg5, .Q_welcomeImg6 {
  height: 30.9vw;
  width: auto;
}
.Q_welcomeSubtitle3 {
  line-height: 120%;
  width: 50vw;
  margin-left: 17vw;
}
.Q_welcomeImg7 {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  right: 2.2vw;
}
.Q_welcomeTitle2 {
  position: absolute;
  top: 11vw;
  left: 45vw;
}
.Q_welcomeSubtitle4 {
  line-height: 120%;
  position: absolute;
  top: 14vw;
  left: 45vw; 
  width: 35vw;
}
.Q_welcomeTitle3 {
  line-height: 120%;
  position: absolute;
  bottom: 7vw;
  right: 7vw; 
  width: 35vw;
  font-weight: 400;
}
.Q_welcomeReg, .Q_welcomeSign {
  position: absolute;
  padding: 1.2vw 1.6vw;
  text-transform: uppercase;
  font-size: 1.3vw;
  bottom: 0;
  transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.Q_welcomeReg {
  background-color: var(--blue);
  color: var(--white);
  right: 29.2vw;
}
.Q_welcomeSign {
  color: var(--black);
  opacity: 0.5;
  right: 19vw;
  &:hover {
    opacity: 1;
  }
}

//Профиль 
.Q_profileAvatar {
  width: 5.3vw;
  height: 5.3vw;
  object-fit: cover;
  border-radius: 10vw;
}
.Q_profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  h1 {
      text-transform: uppercase;
  }
  h4 {
      opacity: 0.5;
      font-weight: 600;
  }
}
.Q_editProfileBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8vw;
  padding: 0.8vw;
  padding-left: 1.6vw;
  border-radius: 10vw;
  background-color: var(--grey);

  div {
    width: 2.3vw;
    height: 2.3vw;
    background-color: var(--grey-dark);
    transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
    border-radius: 10vw;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &:hover {
    div {
      background-color: var(--black);
    }
  }
}
.Q_subscriptionsCounter, .Q_subscribersCounter {
  font-weight: 600;
}
.Q_sunscribeText {
  opacity: 0.5;
}
.Q_profileFeedHeader {
  h2 {
    text-transform: uppercase;
  }
  span {
    opacity: 50%;
  }
  &.passive {
    opacity: 0.5;
  }
}
.Q_subscribeBtn, .Q_unSubscribeBtn {
  padding: 1.1vw 1.1vw;
  background-color: var(--orange);
  border-radius: 10vw;
  border: solid 0.1vw var(--orange);
  font-size: 1.3vw;
  color: var(--white);
}
.Q_unSubscribeBtn {
  background-color: var(--white);
  color: var(--orange);
}


// Индекс Поста
.Q_changeFeedLayoutBtn {
  width: 1.6vw;
  height: 1.6vw;
  opacity: 0.5;
  transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &.active {
    opacity: 1;
  }
  &:hover {
    opacity: 1;
  }
}

//edit and new post
.Q_formPostTitle, .Q_formPostDesc, .Q_addItemLinkInput, .Q_itemInput, .Q_footerInput, .Q_logInInput, .Q_regInput, .Q_settingsInput {
  width: 100%;
  border: none;
  border-bottom: solid var(--grey-dark) 0.1vw;
  font-family: 'Arimo';
  outline: none;   
  &::placeholder {
    color: var(--medium-grey);
    font-family: 'Arimo';
  }
  &:focus {
    color: var(--black);
    outline: none;
    border-bottom: solid var(--orange) 0.1vw;
    font-family: 'Arimo';
  }
}
.Q_formPostTitle, .Q_logInInput, .Q_regInput {
  padding: 0.8vw;
  text-transform: uppercase;
  font-size: 1.6vw;
  font-weight: 400;
  &::placeholder {
    font-size: 1.6vw;
    font-weight: 400;
  }
  &:focus {
      font-size: 1.6vw;
      font-weight: 400;
  }
}
.Q_logInInput, .Q_regInput {
  width: 30.6vw;
}
.Q_formPostDesc, .Q_addItemLinkInput, .Q_itemInput, .Q_footerInput {
  padding: 1.4vw 0.8vw;
  font-size: 1vw;
  &::placeholder {
    font-size: 1vw;
  }
  &:focus {
      font-size: 1vw;
  }
}
.Q_addItemLinkInput, .Q_itemInput, .Q_footerInput {
  text-transform: uppercase;
}
.Q_addItemLinkInput {
  padding-right: 8.4vw;
}
.Q_footerInput {
  border-color: var(--white);
  background-color: var(--orange);
  color: var(--white);
  opacity: 0.7;
  width: 30vw;
  &::placeholder {
    color: var(--grey);
  }
  &:focus {
    color: var(--white);
    border-bottom: solid var(--white) 0.1vw;
    opacity: 1;
  }
}
.Q_cattegoryName {
  text-transform: uppercase;
  opacity: 0.5;
}

.Q_plusImg {
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10vw;
  opacity: 0.5;
  padding: 0.8vw;
  transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.A_uploadPostPreview:hover, .A_uploadItemPreview:hover   {
  .Q_plusImg {
    opacity: 1;
  }
}
.Q_postImgUpload, .Q_itemImgUpload {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.Q_findItem {
  position: absolute;
  right: 0;
  padding: 0.8vw;
  cursor: not-allowed;
  h4 {
    color: var(--medium-grey);
    text-transform: uppercase;
    transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  &.active {
    cursor: pointer;
    h4{
      color: var(--orange);
    }
    
  }
}
.Q_addItemButton, .Q_publishPostBtn {
  font-size: 1.3vw;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--blue);
  padding: 1.2vw 1.6vw;
  border: none;
  opacity: 0.5;
  cursor: not-allowed;
  &.active {
    opacity: 1;
    cursor: pointer;
  }
}
.Q_postItemImage {
  width: 6.4vw;
  height: 6.4vw;
  background-color: var(--medium-grey);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.Q_formItemLink {
  font-size: 1vw;
}
.Q_formItemPrice {
  font-weight: 600;
}
.Q_deleteItemBtn{
  width: 1.7vw;
  height: 1.7vw;
  img {
    width: 80%;
    height: 100%;
    object-fit: cover;
  }
}
.Q_listItemsLine {
  width: 100%;
  height: 0.1vw;
  background-color: var(--medium-grey);
}

.Q_regTitle, .Q_logInTitle{
  text-transform: uppercase;
}
.Q_regCaption {
  opacity: 0.5;
  width: 25.5vw;
  text-align: center;
}
// Паршиал поста
.Q_postPartialImage {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  
}
.C_profileFeedPosts {
  .Q_postPartialImage {
    height: 21.3vw; 
  }
}
.post-link {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Q_postPartialShading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--blue);
  opacity: 0;
  transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.O_post:hover {
  .Q_postPartialShading {
    opacity: 0.2;
  }
}
.Q_postPartialTitle {
  font-size: 1vw;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white);
}
.Q_postPartialAvatar, .Q_postAvatar, .Q_avatarImg {
  width: 1.6vw;
  height: 1.6vw;
  border-radius: 7.8vw;
  object-fit: cover;
}
.Q_postPartialName, .Q_postName  {
  color: var(--white);
  font-size: 1vw;
  font-weight: 400;
}
.Q_collectionSearch {
  width: 100%;
  padding: 0.8vw 0.8vw 0.8vw 1.6vw;
  background-color: var(--white);
  color: rgba(51, 51, 51, 0.5);
  border-radius: 3.1vw;
  border: 0.1vw solid var(--white); /* Здесь надо оставить границу */
  font-size: 1.3vw;
  font-weight: 400;
  transition: all 0.3s ease-in-out; /* Делаем плавнее */

  &::placeholder {
    color: var(--medium-grey);
    font-size: 1.3vw;
    font-weight: 100;
  }

  &:focus {
    outline: none;
    border: 0.1vw solid var(--orange); /* Обводка при фокусе */
    color: var(--black);
    background-color: var(--white);
  }
}

//Шоу поста
.Q_back {
  width: 1.7vw;
  height: 1.7vw;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.Q_postDate {
  color: var(--black);
  opacity: 0.5;
}
.Q_postTitle {
  color: var(--black);
  text-transform: uppercase;
}
.Q_postDescription {
  max-width: 36vw;
}
.Q_postCover {
  max-width: 95%;
  max-height: 50vw;
  width: auto;
}
.Q_tag {
  background-color: var(--black); 
  color: var(--white); 
  padding: 0.5vw 0.8vw; 
  text-transform: uppercase; 
  cursor: pointer; 
  transition: all 0.3s ease; 
  &:hover {
    background-color: var(--blue); 
    color: var(--white); 
  }
}
.Q_tagBtn {
  background-color: var(--white); 
  color: var(--black); 
  padding: 0.5vw 0.8vw; 
  text-transform: uppercase; 
  cursor: pointer; 
  transition: all 0.3s ease; 
  border: 0.1vw solid var(--black);
  &:hover {
    background-color: var(--grey);
  }
  &[data-selected="true"] {
    color: var(--white);
    background-color: var(--black);
  }
}
.Q_postName  {
  color: var(--black);
}
.Q_likesCount {
  transition: transform 0.2s ease, color 0.2s ease;
}
.likeAnimation {
  transform: scale(1.2);
}
.Q_likeBtn {
  cursor: pointer;
  height: 1.4vw;
  width: 1.4vw;
  transition: transform 0.2s ease;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.Q_actionPostBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.4vw;
  width: 1.4vw;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.Q_postHeader {
  text-transform: uppercase;
  span {
    opacity: 0.5;
  }
}
.Q_replyBtn {
  h4 {
    opacity: 0.5;
  }
}
.Q_deleteCommentButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.2vw;
  width: 1.2vw;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.Q_commentText {
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
}
.Q_showReplies {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2vw;
  opacity: 0.5;
  margin-top: -1.6vw;
  div {
    background-color: var(--black);
    height: 0.1vw;
    width: 3.1vw;
  }
}
.Q_commentatorAvatar {
  width: 4.7vw;
  height: 4.7vw;
  object-fit: cover;
  border-radius: 10vw;
}
.Q_commentFormInput {
  width: 100%;
  padding-top: 1.7vw;
  padding-bottom: 1.7vw;
  padding-left: 1.6vw;
  resize: none;
  overflow: hidden;
  font-size: 1.3vw;
  font-family: "Arimo";
  border: 0.1vw solid var(--grey);
  background-color: var(--grey);
  border-radius: 3vw;
  font-weight: 400;
  transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
  &::placeholder {
      color: var(--medium-grey);
      font-size: 1.3vw;
      font-weight: 400;
      line-height: 100%;
  }
  &:focus {
      outline: none; 
      border-color: var(--black); 
      font-size: 1.3vw;
      font-weight: 400;
  }
}
.Q_commentFormSubmit {
  position: absolute;
  width: 3.2vw;
  height: 3.2vw;
  top: 0.8vw;
  right: 0.8vw;
  background-color: var(--black);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
  img {
      width: 2.4vw;
      height: 2.4vw;
  }
  &:hover {
      transform: scale(0.9);
      cursor: pointer;
  }
}
.Q_itemImg {
  width: 100%;
  height: 22.7vw;
  object-fit: cover;
}
.Q_marketUrl {
  display: flex;
  flex-direction: row;
  gap: 0.8vw;
  align-items: center;
  img {
    width: 1.7vw;
    height: 1.7vw;
    object-fit: cover;
    border-radius: 10vw;
  }
}
.Q_itemPrice {
  font-weight: 600;
}





.Q_postsTitle {
  color: var(--blue);
}


.Q_profileStat {
  display: flex;
  flex-direction: column;
  gap: 0.4vw;
  align-items: center;
  
  h3 {
    font-size: 2.1vw;
  }
  h5 {
    font-weight: normal;
    color: var(--grey-dark);
    opacity: 50%;
  }

}
.Q_feedToggleBtn {
  font-size: 2.1vw;
  font-family: 'Raydis', sans-serif;
  color: var(--grey-dark);
  cursor: pointer;
  transition: 0.3s ease;
  opacity: 50%;
  &.active {
    color: var(--blue);
    opacity: 100%;
  }
}


.Q_footerLogo {
  color: var(--white);
  font-family: 'Raydis', sans-serif;
  font-size: 4vw;
  margin-top: 1vw;
}
.Q_footerBtn {
  color: var(--white);
  border: 0.16vw solid var(--white);
  margin-right: 1.2vw;
  background-color: var(--orange);
  padding: 0 1.2vw;
  font-size: 1vw;
  line-height: 1.6vw;
  &.activePage {
    color: var(--orange);
    background-color: var(--white);
    border: 0.16vw solid var(--white);
  }
}
.Q_tumbaLegs {
  position: absolute;
  background-color: var(--orange);
  width: 6.4vw;
  height: 1.2vw;
  bottom: -1.2vw;
  left: 0vw;
  &:last-of-type {
    left: auto;
    right: 0;
  }
}


.Q_regNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: var(--blue);
  padding: 0.8vw;
  font-size: 1.8vw;
  aspect-ratio: 1 / 1;
}
.Q_regButton, .Q_logInButton, .Q_editProfileButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3vw;
  text-transform: uppercase;
  padding: 1.2vw 1.6vw;
  cursor: pointer;
  &[type="submit"].disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:active, &:focus {
    border: none;
    outline: none;
  }
}
.Q_regSubmit, .Q_logInSubmit, .Q_editProfileSubmit{
  background-color: var(--blue);
  color: var(--white);

  border: none;
}

.Q_regButton.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.Q_regSkip, .Q_additemCancel, .Q_editProfileCancel {
  opacity: 50%;
  margin-top: 0.6vw;
}
.Q_logInRememberCheck {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.3vw;
  height: 1.3vw;
  background-color: var(--white);
  border: 0.11vw solid var(--orange);
  cursor: pointer;
  position: relative;
  &:checked {
    background-color: var(--orange); /* Цвет при выборе */
    border-color: var(--orange);
  }
  &:checked::before {
    content: "✓"; /* Галочка */
    color: var(--white);
    font-size: 0.8vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.Q_addItemTitle, .Q_editProfileTitle  {
  color: var(--blue);
}


.Q_editAvatarPreview, .Q_avatarPreview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--medium-grey);
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: 0.2s ease;
    border-radius: 100%;
  &:hover {
    opacity: 0.8;
  }
}


.Q_editAvatarImgUpload, .Q_avatarImgUpload {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.Q_editAvatarPreview .placeholder {
  font-size: 2vw;
  color: var(--white);
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s ease;
  border-radius: 100%;
}

.Q_editAvatarPreview:hover .placeholder {
  display: block;
  opacity: 1;
}

.Q_settingsLabel {
 opacity: 0.5;
 font-size: 1vw;
 text-transform: uppercase;
 padding-left: 0.8vw;
}
.Q_settingsInput {
  padding: 0.8vw;
  font-size: 1.3vw;
  &::placeholder {
      font-size: 1.3vw;
      font-weight: 400;
      line-height: 100%;
  }
  &:focus {
      outline: none; 
      font-size: 1.3vw;
      font-weight: 400;
  }
}
.Q_settingsSaveBtn, .Q_settingsResetBtn {
  text-transform: uppercase;
  font-size: 1vw;
  padding: 0.5vw 0.8vw;
  border: none;
  outline: none;
  transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
}
.Q_settingsSaveBtn {
  background-color: var(--orange);
  color: var(--white);
  font-weight: 300;
}
.Q_settingsResetBtn {
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}


// Создание товара
.Q_modalTitle {
  text-transform: uppercase;
  font-weight: 400;
}

// Подвал
.Q_footerLink {
  opacity: 0.5;
  transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
  h4 {
    text-transform: uppercase;

  }
  &:hover {
    opacity: 1;
  }
}
.Q_footerLogo {
  color: var(--orange);
  font-family: 'Raydis';
  font-size: 22.6vw;
  line-height: 70%;
}
.Q_footerQR {
  width: 5.6vw;
  height: 5.6vw;
  object-fit: cover;
}
.Q_footerSocial {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2vw;
  img {
    width: 1.7vw;
    height: 1.7vw;
    object-fit: cover;
  }
}
.Q_footerFormBtn {
  position: absolute;
  right: 0.8vw;
  top: 1.6vw;
}
.Q_tumbaLeg {
  position: absolute;
  background-color: var(--orange);
  width: 6.6vw;
  height: 2.1vw;
  bottom: -2.1vw;
  left: 0vw;
  &:last-of-type {
    left: auto;
    right: 0;
  }
}





.Q_collectionsCount {
  color: var(--black);
  opacity: 0.5;
}
.Q_collectionsTitle {
  color: var(--black);
  margin-right: 2vw;
}
.Q_createCollectionBtn {

  width: 1.7vw;
  height: 1.7vw;
  img {
    width: 75%;
    height: 75%;
    object-fit: cover;
      transform: rotate(45deg);
  }
}
.Q_collectionMeta {
  opacity: 0.5;
  margin-top: -0.3vw;
}

.Q_settingsAvatar {
  width: 4.7vw;
  height: 4.7vw;
  border-radius: 100%;
  object-fit: cover;
}
.Q_settingsName, .Q_settingsTitle {
  text-transform: uppercase;
}
.Q_settingsTitle {
  font-weight: 300;
}
.Q_settingsNavBtn {
  padding: 0.8vw 1.6vw 0.8vw 0.8vw;
  &.active {
    background-color: var(--grey);
  }
}



@media only screen and (min-width: 745px) and (max-width: 1024px) {
}
@media only screen and (min-width: 431px) and (max-width: 744px) {
}
@media only screen and (max-width: 430px) {
  .Q_menuLogo {
    font-size: 5vw;
    margin-left: 3.6vw;
    margin-top: 1.6vw;
  }
  .Q_menuAvatar {
    width: 10vw;
    height: 10vw;
  }
  .Q_menuIcon {
    height: 5.6vw;
    width: 5.6vw;
  }
  .Q_avatarImg {
    width: 11.5vw;
    height: 11.5vw;
  }
  .A_menuUser{
    .Q_avatarImg {
      width: 11.2vw;
      height: 11.2vw;
    }
  }
  .A_postCreator{
    .Q_avatarImg {
      width: 11.2vw;
      height: 11.2vw;
    }
  }
  .Q_postName, .Q_commentName {
    margin: 0 5.6vw 0 2.5vw;
    h5 {
      font-size: 3.3vw;

    }
    h6 {
        font-size: 2.8vw;
    }
  }
  .Q_postCover {
    width: 100%;
    max-height: none;
  }
  .Q_likeBtn {
    height: 5.3vw;
    width: 5.3vw;
  }
  .Q_tag {
    padding: 2.8vw 3.8vw; 
    font-size: 2.8vw;
    border: 0.5vw solid var(--blue);
  }


  .Q_postDescription {
    max-width: 90%;
  }
  .Q_commentAvatar {
    width: 11.2vw;
    height: 11.2vw;
  }
  .Q_deleteCommentButton {
    height: auto;
    padding: 3vw 5vw;
    img {
      width: 5vw;
      height: 5vw;
    }
  }
  .Q_commentatorAvatar {
    width: 10.9vw;
    height: 10.9vw;
    left: 2.3vw;
    top: 2.3vw;
  }
  .Q_commentFormSubmit {
    width: 10.9vw;
    height: 10.9vw;
    top: 2.3vw;
    right: 2.3vw;
    img {
        width: 5.8vw;
        height: 5.8vw;
    }
  }
  .Q_commentFormInput {
    height: 15.3vw;
    border: 0.5vw solid var(--white);
    padding: 6.1vw 15.3vw;
    font-size: 2.8vw;
    &::placeholder {
      font-size: 2.8vw;
    }
    &:focus {
        font-size: 2.8vw;
    }
  }
  .Q_profileAvatar {
    width: 24.4vw;
    height: 24.4vw;
  }
  .Q_profileStat {
    gap: 1.3vw;
    h3 {
      font-size: 4.3vw;
    }
  }
  .Q_feedToggleBtn {
    font-size: 5.3vw;
  }
  .Q_postImagePreview{
    width: 100%;
    max-width: 72vw;
    height: 67.9vw;
    border: 0.5vw dashed var(--blue);
    span {
      font-size: 12vw;
    }
  }
  
  .Q_postImgUpload {
    max-height: 102%;
  }
  .Q_tagBtn {
    padding: 2.8vw 3.8vw; 
    font-size: 2.8vw;
    border: 0.5vw solid var(--blue);
  }
  .Q_regButton, .Q_logInButton, .Q_editProfileButton {
    width: 76.8vw;
    font-size: 4.3vw;
    padding: 4.3vw 14vw;
  }
  .Q_regSubmit, .Q_logInSubmit, .Q_editProfileSubmit{
    margin-top: 15.3vw;
  }
  .Q_regTitle, .Q_logInTitle{
    font-size: 7.6vw;
    letter-spacing: auto;
  }
  .Q_regDescription, .Q_logInDescription {
    font-size: 3.8vw;
    letter-spacing: 26.3;
  }
  .Q_logInRememberCheck {
    width: 6vw;
    height: 6vw;
    border: 0.5vw solid var(--orange);
    &:checked::before {
      font-size: 2.8vw;
    }
  }
  .Q_regNumber {
    padding: 4.8vw;
    font-size: 6.1vw;
    aspect-ratio: 1 / 1;
  }
  .Q_actionPostBtn {
    padding: 1.2vw;
    img {
      width: 5.3vw;
      height: 5.3vw;
    }
  }
}

