// Главное Меню
.Q_menuLogo {
  font-size: 2.6vw;
  font-family: 'Raydis', sans-serif;
  color: var(--blue);
  margin-top: 0.6vw;
}
.Q_menuAvatar {
  border-radius: 10vw;
  width: 2vw;
  height: 2vw;
  object-fit: cover;
}
.Q_menuIcon {
  height: 2vw;
  width: 2vw;
}
.Q_dropdownBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Q_dropdownMenuHeader {
  opacity: 0.5;
}
.Q_postsFilterBtn {
  text-transform: uppercase;
  color: var(--black);
  opacity: 0.5;
  transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
  &:hover {
    opacity: 1;
  }
  &.active {
    opacity: 1;
    color: var(--orange);
  }
}
.Q_emptyArrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--white);
  padding: 0 0.8vw;
  img {
    height: 1.7vw;
    width: 1.7vw;
    object-fit: cover;
  }
  &.prev {
    top: 0;
    left: 0;
    box-shadow: 20px 0 30px 20px var(--white);
    
  }
  &.next {
    top: 0;
    right: 0;
    box-shadow: -20px 0 30px 20px var(--white);
    img {
      transform: rotate(180deg);
    }
  }
}

.Q_followTitle, .Q_notificationsTitle  {
  text-transform: uppercase;
  color: var(--black);
  span {
    opacity: 0.5;
  }
}
.Q_notificationBadge {
  position: absolute;
  width: 1.3vw;
  height: 1.3vw;
  top: 0.3vw;
  right: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange);
  border-radius: 10vw;
  h4 {
    color: var(--white);
  }


}
.Q_followsAvatar {
  width: 4.7vw;
  height: 4.7vw;
  object-fit: cover;
  border-radius: 100%;
}
.Q_followBtn, .Q_unfollowBtn {
    display: flex;
    align-items: center;
    padding: 0.4vw 0.8vw;
    border-radius: 1vw;
    transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
    font-size: 1vw; 
  &:hover {
    transform: scale(1.05);
  }
}
.Q_followBtn {
  background-color: var(--orange);
  color: var(--white);
  border: solid 0.1vw var(--orange);

}
.Q_unfollowBtn {
  background-color: var(--white);
  color: var(--orange);
  border: solid 0.1vw var(--orange);
}

.Q_settingsValue {
  text-transform: uppercase;
  padding: 0.8vw 0 0 0.8vw;
}

//Сортировка и фильтры
.Q_feedSortBtn, .Q_feedFltrBtn {
  padding: 0.5vw 0.8vw;
  border: 0.1vw solid var(--black);
  transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
  h4 {
    color: var(--black);
    text-transform: uppercase;
    font-weight: 400;
    transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  &:hover {
    background-color: var(--black);
    h4 {
      color: var(--white);
    }
  }
}

.Q_closeBtn, .Q_closeFltrBtn, .Q_modalCloseBtn, .Q_settingsCloseBtn, .Q_closeButton, .Q_searchCloseBtn {
  width: 1.7vw;
  height: 1.7vw;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.Q_bullet {
  appearance: none;
  width: 1.3vw;
  height: 1.3vw;
  border: 0.1vw solid var(--orange);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
  margin: 0;
  &:checked {
    background-color: var(--white);
    &:before {
      content: "";
      position: absolute;
      width: 0.7vw;
      height: 0.7vw;
      background-color: var(--orange);
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-51%, -50%);
    }
  }
}
.A_filterSort:hover  {
  .Q_bullet {
    opacity: 0.8;
  }
}
.Q_filterCattegoryName { 
  font-weight: 600;
  text-transform: uppercase;
}
.Q_checkbox {
  appearance: none;
  width: 1.3vw;
  height: 1.3vw;
  border: 0.1vw solid var(--orange);
  background-color: transparent;
  cursor: pointer;
  position: relative;
  display: inline-block;
  &:checked {
    background-color: var(--orange);
  }
  &:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.1vw; 
    height: 1.1vw;
    background-image: image-url('checkmarkIcon.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
  }
}

// Логин
.Q_logInRedirect {
  opacity: 0.5;
}
.Q_logInRedirectLink {
  text-decoration: underline;
  font-size: 16px;
}


// Страница для неавторизованных пользователей (вместо постов)
.Q_welcomeLogo {
  font-family: 'Raydis';
  font-size: 22.4vw;
  color: var(--blue);
  margin-top: -4vw;
  margin-left: -1vw;
}
.Q_welcomeSubtitle {
  line-height: 120%;
  position: absolute;
  top: 19vw;
  width: 45.9vw;
  right: 0vw;
}
.Q_welcomeAbout {
  line-height: 120%;
  position: absolute;
  width: 30.5vw;
  bottom: 4.9vw;
  left: 26.5vw;
  span {
    font-weight: 600;
  }
}
.Q_welcomeImg1{
  position: absolute;
  width: 31.7vw;
  height: 25.5vw;
  object-fit: cover;
  bottom: 9.4vw;
  left: 0;
}
.Q_welcomeImg2 {
  position: absolute;
  width: 6.7vw;
  height: 8.6vw;
  object-fit: cover;
  bottom: 22.4vw;
  right: 39vw;
}
.Q_welcomeImg3 {
  position: absolute;
  width: 28.4vw;
  height: auto;
  object-fit: cover;
  bottom: 2.3vw;
  right: 0vw;
}
.Q_welcomeSubtitle2 {
  line-height: 120%;
  width: 50vw;
}
.Q_welcomeImg4, .Q_welcomeImg5, .Q_welcomeImg6 {
  height: 30.9vw;
  width: auto;
}
.Q_welcomeSubtitle3 {
  line-height: 120%;
  width: 50vw;
  margin-left: 17vw;
}
.Q_welcomeImg7 {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  right: 2.2vw;
}
.Q_welcomeTitle2 {
  position: absolute;
  top: 11vw;
  left: 50vw;
}
.Q_welcomeSubtitle4 {
  line-height: 120%;
  position: absolute;
  top: 14vw;
  left: 50vw; 
  width: 35vw;
}
.Q_welcomeTitle3 {
  line-height: 120%;
  position: absolute;
  bottom: 7vw;
  right: 7vw; 
  width: 35vw;
  font-weight: 400;
}
.Q_welcomeReg, .Q_welcomeSign {
  position: absolute;
  padding: 1.2vw 1.6vw;
  text-transform: uppercase;
  font-size: 1.3vw;
  bottom: 0;
  transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.Q_welcomeReg {
  background-color: var(--blue);
  color: var(--white);
  right: 29.2vw;
}
.Q_welcomeSign {
  color: var(--black);
  opacity: 0.5;
  right: 19vw;
  &:hover {
    opacity: 1;
  }
}

//Профиль 
.Q_profileAvatar {
  width: 5.3vw;
  height: 5.3vw;
  object-fit: cover;
  border-radius: 10vw;
}
.Q_profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  h1 {
      text-transform: uppercase;
  }
  h4 {
      opacity: 0.5;
      font-weight: 600;
  }
}
.Q_editProfileBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8vw;
  padding: 1.2vw 1.6vw;
  border-radius: 10vw;
  background-color: var(--grey);
  div {
    width: 1.4vw;
    height: 1.4vw;
    transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
    opacity: 0.7;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &:hover {
    div {
      opacity: 1;
    }
  }
}
.Q_subscriptionsCounter, .Q_subscribersCounter {
  font-weight: 600;
}
.Q_sunscribeText {
  opacity: 0.5;
}
.Q_profileFeedHeader, .Q_collectionFeedToggle {
  h2, h3 {
    text-transform: uppercase;
  }
  &.passive {
    opacity: 0.5;
  }
  &.active {
    h2 {
      color: var(--orange);
    }
  }
}
.Q_subscribeBtn, .Q_unSubscribeBtn {
  padding: 1.2vw 1.6vw;
  background-color: var(--orange);
  border-radius: 10vw;
  border: solid 0.1vw var(--orange);
  font-size: 1.3vw;
  color: var(--white);
}
.Q_unSubscribeBtn {
  background-color: var(--white);
  color: var(--orange);
}


// Индекс Поста
.Q_changeFeedLayoutBtn {
  width: 1.6vw;
  height: 1.6vw;
  opacity: 0.5;
  transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &.active {
    opacity: 1;
  }
  &:hover {
    opacity: 1;
  }
}

//edit and new post
.Q_formPostTitle, .Q_formPostDesc, .Q_addItemLinkInput, .Q_itemInput, .Q_footerInput, .Q_logInInput, .Q_regInput, .Q_settingsInput {
  width: 100%;
  border: none;
  border-bottom: solid var(--grey-dark) 0.1vw;
  font-family: 'Arimo';
  outline: none;   
  &::placeholder {
    color: var(--medium-grey);
    font-family: 'Arimo';
  }
  &:focus {
    color: var(--black);
    outline: none;
    border-bottom: solid var(--orange) 0.1vw;
    font-family: 'Arimo';
  }
}
.Q_formPostTitle, .Q_logInInput, .Q_regInput {
  padding: 0.8vw;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  &::placeholder {
    font-size: 20px;
    font-weight: 400;
  }
  &:focus {
      font-size: 20px;
      font-weight: 400;
  }
}
.Q_logInInput, .Q_regInput {
  width: 30.6vw;
}
.Q_formPostDesc, .Q_addItemLinkInput, .Q_itemInput, .Q_footerInput {
  padding: 1.4vw 0.8vw;
  font-size: 16px;
  &::placeholder {
    font-size: 16px;
  }
  &:focus {
      font-size: 16px;
  }
}
.Q_addItemLinkInput, .Q_itemInput, .Q_footerInput {
  text-transform: uppercase;
}
.Q_addItemLinkInput {
  padding-right: 8.4vw;
}
.Q_footerInput {
  border-color: var(--white);
  background-color: var(--orange);
  color: var(--white);
  opacity: 0.7;
  width: 30vw;
  &::placeholder {
    color: var(--grey);
  }
  &:focus {
    color: var(--white);
    border-bottom: solid var(--white) 0.1vw;
    opacity: 1;
  }
}
.Q_cattegoryName {
  text-transform: uppercase;
  opacity: 0.5;
}

.Q_plusImg {
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  opacity: 0.5;
  padding: 0.8vw;
  transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.A_uploadPostPreview:hover, .A_uploadItemPreview:hover   {
  .Q_plusImg {
    opacity: 1;
  }
}
.Q_postImgUpload, .Q_itemImgUpload {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.Q_findItem {
  position: absolute;
  right: 0;
  padding: 0.8vw;
  cursor: not-allowed;
  h4 {
    color: var(--medium-grey);
    text-transform: uppercase;
    transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  &.active {
    cursor: pointer;
    h4{
      color: var(--orange);
    }
    
  }
}
.Q_addItemButton, .Q_publishPostBtn, .Q_newCollectionBtn  {
  font-size: 1.3vw;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--blue);
  padding: 1.2vw 1.6vw;
  border: none;
  opacity: 0.5;
  cursor: not-allowed;
  &.active {
    opacity: 1;
    cursor: pointer;
  }
}
.Q_postItemImage {
  width: 6.4vw;
  height: 6.4vw;
  background-color: var(--medium-grey);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.Q_formItemLink {
  font-size: 13px;
}
.Q_formItemPrice {
  font-weight: 600;
}
.Q_deleteItemBtn{
  width: 1.7vw;
  height: 1.7vw;
  img {
    width: 80%;
    height: 100%;
    object-fit: cover;
  }
}
.Q_listItemsLine {
  width: 100%;
  height: 0.1vw;
  background-color: var(--medium-grey);
}

.Q_regTitle, .Q_logInTitle{
  text-transform: uppercase;
}
.Q_regCaption {
  opacity: 0.5;
  width: 25.5vw;
  text-align: center;
  margin-top: 3.1vw;
  margin-bottom: 1.2vw;
}

// Паршиал поста
.Q_postPartialImage {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  
}
.C_profileFeedPosts {
  .Q_postPartialImage {
    height: 21.3vw; 
  }
}
.post-link {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Q_postPartialShading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--blue);
  opacity: 0;
  transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.O_post:hover {
  .Q_postPartialShading {
    opacity: 0.2;
  }
}
.Q_postPartialTitle {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white);
}
.Q_postPartialAvatar, .Q_postAvatar, .Q_avatarImg {
  width: 1.6vw;
  height: 1.6vw;
  border-radius: 7.8vw;
  object-fit: cover;
}
.Q_postPartialName, .Q_postName  {
  color: var(--white);
  font-weight: 400;
}
.Q_collectionSearch {
  width: 100%;
  padding: 0.8vw 0.8vw 0.8vw 1.6vw;
  background-color: var(--white);
  color: rgba(51, 51, 51, 0.5);
  border-radius: 3.1vw;
  border: 0.1vw solid var(--white); /* Здесь надо оставить границу */
  font-size: 1.3vw;
  font-weight: 400;
  transition: all 0.3s ease-in-out; /* Делаем плавнее */

  &::placeholder {
    color: var(--medium-grey);
    font-size: 1.3vw;
    font-weight: 100;
  }

  &:focus {
    outline: none;
    border: 0.1vw solid var(--orange); /* Обводка при фокусе */
    color: var(--black);
    background-color: var(--white);
  }
}

//Шоу поста
.Q_back {
  width: 1.7vw;
  height: 1.7vw;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.Q_postDate {
  color: var(--black);
  opacity: 0.5;
}
.Q_postTitle {
  color: var(--black);
  text-transform: uppercase;
}
.Q_postDescription {
  max-width: 36vw;
}
.Q_postCover {
  max-width: 95%;
  max-height: 50vw;
  width: auto;
}
.Q_tag {
  background-color: var(--black); 
  color: var(--white); 
  padding: 0.5vw 0.8vw; 
  text-transform: uppercase; 
  cursor: pointer; 
  transition: all 0.3s ease; 
  &:hover {
    background-color: var(--blue); 
    color: var(--white); 
  }
}
.C_welcomeTags {
  .Q_tag {
      padding:1.2vw 2.1vw;
  }
}
.Q_tagBtn {
  background-color: var(--white); 
  color: var(--black); 
  padding: 0.5vw 0.8vw; 
  text-transform: uppercase; 
  cursor: pointer; 
  transition: all 0.3s ease; 
  border: 0.1vw solid var(--black);
  &:hover {
    background-color: var(--grey);
  }
  &[data-selected="true"] {
    color: var(--white);
    background-color: var(--black);
  }
}
.Q_postName  {
  color: var(--black);
}
.Q_likesCount {
  transition: transform 0.2s ease, color 0.2s ease;
}
.likeAnimation {
  transform: scale(1.2);
}
.Q_likeBtn {
  cursor: pointer;
  height: 1.4vw;
  width: 1.4vw;
  transition: transform 0.2s ease;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.Q_actionPostBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.4vw;
  width: 1.4vw;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.Q_postHeader {
  text-transform: uppercase;
  span {
    opacity: 0.5;
  }
}
.Q_replyBtn {
  h4 {
    opacity: 0.5;
  }
}
.Q_deleteCommentButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.2vw;
  width: 1.2vw;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.Q_commentText {
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
}
.Q_showReplies {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2vw;
  opacity: 0.5;
  div {
    background-color: var(--black);
    height: 0.1vw;
    width: 3.1vw;
  }
}
.Q_commentatorAvatar {
  width: 4.7vw;
  height: 4.7vw;
  object-fit: cover;
  border-radius: 100%;
}
.Q_commentFormInput {
  width: 100%;
  padding-top: 1.7vw;
  padding-bottom: 1.7vw;
  padding-left: 1.6vw;
  resize: none;
  overflow: hidden;
  font-size: 1.3vw;
  font-family: "Arimo";
  border: 0.1vw solid var(--grey);
  background-color: var(--grey);
  border-radius: 3vw;
  font-weight: 400;
  transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
  &::placeholder {
      color: var(--medium-grey);
      font-size: 1.3vw;
      font-weight: 400;
      line-height: 100%;
  }
  &:focus {
      outline: none; 
      border-color: var(--black); 
      font-size: 1.3vw;
      font-weight: 400;
  }
}
.Q_commentFormSubmit {
  position: absolute;
  width: 3.2vw;
  height: 3.2vw;
  top: 0.8vw;
  right: 0.8vw;
  background-color: var(--black);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
  img {
      width: 1.7vw;
      height: 1.7vw;
  }
  &:hover {
      transform: scale(0.9);
      cursor: pointer;
  }
}
.Q_itemImg {
  width: 100%;
  height: 22.7vw;
  object-fit: cover;
}
.Q_marketUrl {
  display: flex;
  flex-direction: row;
  gap: 0.8vw;
  align-items: center;
  img {
    width: 1.7vw;
    height: 1.7vw;
    object-fit: cover;
    border-radius: 10vw;
  }
}
.Q_itemPrice {
  font-weight: 600;
}





.Q_postsTitle {
  color: var(--blue);
}


.Q_profileStat {
  display: flex;
  flex-direction: column;
  gap: 0.4vw;
  align-items: center;
  
  h3 {
    font-size: 2.1vw;
  }
  h5 {
    font-weight: normal;
    color: var(--grey-dark);
    opacity: 50%;
  }

}
.Q_feedToggleBtn {
  font-size: 2.1vw;
  font-family: 'Raydis', sans-serif;
  color: var(--grey-dark);
  cursor: pointer;
  transition: 0.3s ease;
  opacity: 50%;
  &.active {
    color: var(--blue);
    opacity: 100%;
  }
}


.Q_footerLogo {
  color: var(--white);
  font-family: 'Raydis', sans-serif;
  font-size: 4vw;
  margin-top: 1vw;
}
.Q_footerBtn {
  color: var(--white);
  border: 0.16vw solid var(--white);
  margin-right: 1.2vw;
  background-color: var(--orange);
  padding: 0 1.2vw;
  font-size: 1vw;
  line-height: 1.6vw;
  &.activePage {
    color: var(--orange);
    background-color: var(--white);
    border: 0.16vw solid var(--white);
  }
}
.Q_tumbaLegs {
  position: absolute;
  background-color: var(--orange);
  width: 6.4vw;
  height: 1.2vw;
  bottom: -1.2vw;
  left: 0vw;
  &:last-of-type {
    left: auto;
    right: 0;
  }
}

.Q_regButton, .Q_logInButton, .Q_editProfileButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3vw;
  text-transform: uppercase;
  padding: 1.2vw 1.6vw;
  cursor: pointer;
  &[type="submit"].disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:active, &:focus {
    border: none;
    outline: none;
  }
}
.Q_regSubmit, .Q_logInSubmit, .Q_editProfileSubmit{
  background-color: var(--blue);
  color: var(--white);

  border: none;
}

.Q_regButton.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.Q_regSkip, .Q_additemCancel, .Q_editProfileCancel {
  opacity: 50%;
  margin-top: 0.6vw;
}
.Q_logInRememberCheck {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.3vw;
  height: 1.3vw;
  background-color: var(--white);
  border: 0.11vw solid var(--orange);
  cursor: pointer;
  position: relative;
  &:checked {
    background-color: var(--orange); /* Цвет при выборе */
    border-color: var(--orange);
  }
  &:checked::before {
    content: "✓"; /* Галочка */
    color: var(--white);
    font-size: 0.8vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.Q_addItemTitle, .Q_editProfileTitle  {
  color: var(--blue);
}


.Q_editAvatarPreview, .Q_avatarPreview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--medium-grey);
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: 0.2s ease;
    border-radius: 100%;
  &:hover {
    opacity: 0.8;
  }
}


.Q_editAvatarImgUpload, .Q_avatarImgUpload {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.Q_editAvatarPreview .placeholder {
  font-size: 2vw;
  color: var(--white);
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s ease;
  border-radius: 100%;
}

.Q_editAvatarPreview:hover .placeholder {
  display: block;
  opacity: 1;
}

.Q_settingsLabel {
 opacity: 0.5;
 font-size: 13px;
 text-transform: uppercase;
 padding-left: 0.8vw;
}
.Q_settingsInput {
  padding: 0.8vw;
  font-size: 16px;
  &::placeholder {
      font-size: 16px;
      font-weight: 400;
      line-height: 100%;
  }
  &:focus {
      outline: none; 
      font-size: 16px;
      font-weight: 400;
  }
}
.Q_settingsSaveBtn, .Q_settingsResetBtn {
  text-transform: uppercase;
  font-size: 13px;
  padding: 0.5vw 0.8vw;
  border: none;
  outline: none;
  transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
}
.Q_settingsSaveBtn {
  background-color: var(--orange);
  color: var(--white);
  font-weight: 300;
}
.Q_settingsResetBtn {
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}


// Создание товара
.Q_modalTitle {
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}
.Q_modalText {
  text-align: center;
}

// Подвал
.Q_footerLink {
  opacity: 0.5;
  transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
  h4 {
    text-transform: uppercase;

  }
  &:hover {
    opacity: 1;
  }
}
.Q_footerLogo {
  color: var(--orange);
  font-family: 'Raydis';
  font-size: 22.6vw;
  line-height: 70%;
}
.Q_footerQR {
  width: 5.6vw;
  height: 5.6vw;
  object-fit: cover;
}
.Q_footerSocial {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2vw;
  img {
    width: 1.7vw;
    height: 1.7vw;
    object-fit: cover;
  }
  &.mobile {
    display: none;
  }
}
.Q_footerFormBtn {
  position: absolute;
  right: 0.8vw;
  top: 1.6vw;
}
.Q_tumbaLeg {
  position: absolute;
  background-color: var(--orange);
  width: 6.6vw;
  height: 2.1vw;
  bottom: -2.1vw;
  left: 0vw;
  &:last-of-type {
    left: auto;
    right: 0;
  }
}
.Q_collectionsCount {
  color: var(--black);
  opacity: 0.5;
}
.Q_collectionsTitle {
  text-transform: uppercase;
}
.Q_createCollectionBtn {
  width: 1.7vw;
  height: 1.7vw;
  img {
    width: 75%;
    height: 75%;
    object-fit: cover;
      transform: rotate(45deg);
  }
}
.Q_collectionMeta {
  opacity: 0.5;
}

.Q_settingsAvatar {
  width: 4.7vw;
  height: 4.7vw;
  border-radius: 100%;
  object-fit: cover;
}
.Q_settingsName, .Q_settingsTitle {
  text-transform: uppercase;
}
.Q_settingsTitle {
  font-weight: 300;
}
.Q_settingsNavBtn {
  padding: 0.8vw 1.6vw 0.8vw 0.8vw;
  &.active {
    background-color: var(--grey);
  }
}

.Q_deleteCollectionBtn, .Q_editCollectionBtn {
  width: 1.7vw;
  height: 1.7vw;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.Q_notificationTime {
  opacity: 0.5;
}


@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  // Страница для неавторизованных пользователей (вместо постов)
  .Q_welcomeLogo {
    font-size: 22.4vw;
    margin-top: -4vw;
    margin-left: -1vw;
  }
  .Q_welcomeSubtitle {
    top: 20vw;
  }
  .Q_welcomeAbout {
    width: 38.5vw;
    bottom: 0vw;
    left: 26.5vw;
  }
  .Q_welcomeImg1{
    width: 31.7vw;
    height: 25.5vw;
    bottom: 9.4vw;
  }
  .Q_welcomeImg2 {
    width: 6.7vw;
    height: 8.6vw;
    bottom: 22.4vw;
    right: 41vw;
  }
  .Q_welcomeImg3 {
    width: 28.4vw;
    bottom: 2.3vw;
    right: 0vw;
  }
  .Q_welcomeSubtitle2 {
    width: 50vw;
  }
  .Q_welcomeImg4, .Q_welcomeImg5, .Q_welcomeImg6 {
    height: 30.9vw;
  }
  .Q_welcomeSubtitle3 {
    width: 50vw;
    margin-left: 17vw;
  }
  .Q_welcomeImg7 {
    width: 100vw;
    height: 100%;
    top: 0;
    right: 2.2vw;
  }
  .Q_welcomeTitle2 {
    top: 7vw;
    left: 50vw;
  }
  .Q_welcomeSubtitle4 {
    top: 10.4vw;
    left: 50vw; 
    width: 35vw;
  }
  .Q_welcomeTitle3 {
    bottom: 7vw;
    right: 5vw; 
    width: 39vw;
  }
  .Q_welcomeReg, .Q_welcomeSign {
    padding: 1.5vw 2vw;
    font-size: 20px;
  }
  .Q_welcomeReg {
    right: 25.4vw;
  }
  .Q_welcomeSign {
    right: 12vw;
  }
  .C_welcomeTags {
    .Q_tag {
        padding: 0.5vw 1vw; 
    }
  }

  // Логин, регистрации, редактирование профиля ---------------------------------------------- 
  .Q_formPostTitle, .Q_formPostDesc, .Q_addItemLinkInput, .Q_itemInput, .Q_footerInput, .Q_logInInput, .Q_regInput, .Q_settingsInput {
    width: 100%;
  }
  .Q_formPostTitle, .Q_logInInput, .Q_regInput {
    padding: 1vw;
    font-size: 23px;
    &::placeholder {
      font-size: 23px;
    }
    &:focus {
        font-size: 23px;
    }
  }
  .Q_logInRememberCheck {
    width: 1.6vw;
    height: 1.6vw;
    &:checked::before {
      font-size: 16px;
    }
  }
  .Q_regButton, .Q_logInButton, .Q_editProfileButton {
    font-size: 20px;
    padding: 1.5vw 2vw;
  }
  .Q_regSkip, .Q_additemCancel, .Q_editProfileCancel, .Q_logInRedirect  {
    margin-top: 1.5vw;
  }
  .Q_regCaption {
    margin-top: 3.9vw;
    width: 39.6vw;
    margin-bottom: 1.5vw;
  }
  .Q_logInRedirectLink {
    font-size: 20px;
  }

  // Профиль ---------------------------------------------- 
  .Q_profileAvatar {
    width: 6.3vw;
    height: 6.3vw;
  }
  .Q_editProfileBtn {
    gap: 1vw;
    padding: 1.5vw 2vw;
    div {
      width: 2.3vw;
      height: 2.3vw;
    }
  }
  .C_profileFeedPosts {
    .Q_postPartialImage {
      height: 28.6vw; 
    }
  }
  .Q_collectionSearch {
    padding: 1vw 1vw 1vw 2vw;
    border-radius: 10vw;
    font-size: 20px;
    &::placeholder {
      font-size: 20px;
    }
  }
  .Q_itemImg {
    height: 30.2vw;
  }
  .Q_marketUrl {
    gap: 1vw;
    img {
      width: 2.1vw;
      height: 2.1vw;
    }
  }
  .Q_subscribeBtn, .Q_unSubscribeBtn {
    padding: 1.5vw 2vw;
    font-size: 20px;
  }
  .Q_followsAvatar {
    width: 6.3vw;
    height: 6.3vw;
  }
  .Q_followBtn, .Q_unfollowBtn {
      padding: 0.5vw 1vw;
      border-radius: 10vw;
      font-size: 20px;
  }

  // Посты ---------------------------------------------- 
  .Q_changeFeedLayoutBtn {
    width: 2.3vw;
    height: 2.3vw;
  }
  .Q_feedSortBtn, .Q_feedFltrBtn {
    padding: 0.5vw 1vw;
  }
  .Q_postPartialAvatar, .Q_postAvatar, .Q_avatarImg {
    width: 2.3vw;
    height: 2.3vw;
  }
  .Q_closeBtn, .Q_closeFltrBtn, .Q_modalCloseBtn, .Q_settingsCloseBtn, .Q_searchCloseBtn {
    width: 2.3vw;
    height: 2.3vw;
  }
  .Q_bullet {
    width: 1.6vw;
    height: 1.6vw;
    &:checked {
      &:before {
        width: 0.8vw;
        height: 0.8vw;
      }
    }
  }
  .Q_checkbox {
    width: 1.6vw;
    height: 1.6vw;
    &:checked::before {
      width: 1.1vw; 
      height: 1.1vw;
    }
  }
  .Q_back {
    width: 2.3vw;
    height: 2.3vw;
  }
  .Q_postDescription {
    max-width: 100%;
  }
  .Q_tag {
    padding: 0.5vw 1vw; 
  }
  .Q_actionPostBtn, .Q_likeBtn, .Q_deleteCommentButton, .Q_deleteItemBtn {
    height: 2.3vw;
    width: 2.3vw;
  }
  .Q_commentText {
    max-width: 60.1vw;
    gap: 0.5vw;
  }
  .Q_showReplies {
    gap: 1vw;
    div {
      width: 3.8vw;
    }
  }
  .Q_commentatorAvatar {
    width: 6.3vw;
    height: 6.3vw;
  }
  .Q_commentFormInput {
    padding: 1.8vw 3vw;
    font-size: 23px;
    border-radius: 7vw;
    &::placeholder {
        font-size: 23px;
    }
    &:focus {
        font-size: 23px;
    }
  }
  .Q_commentFormSubmit {
    width: 4.1vw;
    height: 4.1vw;
    top: 1.1vw;
    right: 1vw;
    img {
        width: 2.3vw;
        height: 2.3vw;
    }
  }
  .Q_plusImg {
    padding: 0.8vw;
  }
  .Q_formPostDesc, .Q_addItemLinkInput, .Q_itemInput, .Q_footerInput {
    padding: 1.2vw 1vw;
    font-size: 20px;
    &::placeholder {
      font-size: 20px;
    }
    &:focus {
        font-size: 20px;
    }
  }
  .Q_tagBtn {
    padding: 0.5vw 1vw; 
  }
  .Q_addItemButton, .Q_publishPostBtn, .Q_newCollectionBtn  {
    font-size: 20px;
    padding: 1vw 2vw;
  }
  .Q_postItemImage {
    width: 8vw;
    height: 8vw;
  }
  .Q_formItemLink {
    font-size: 16px;
  }

  .Q_footerSocial {
    gap: 0.3vw;
    img {
      width: 2.3vw;
      height: 2.3vw;
    }
    &.mobile {
      display: none;
    }
  }

  .Q_menuIcon, .Q_menuAvatar  {
    height: 2.3vw;
    width: 2.3vw;
  }
  .Q_menuLogo {
    font-size: 4.6vw;
    margin-top: 0.8vw;
  }
  .Q_settingsAvatar {
    width: 5.9vw;
    height: 5.9vw;
  }
  .Q_settingsNavBtn {
    padding: 1vw 2vw 1vw 1vw;
  }
}

@media only screen and (min-width: 744px) and (max-width: 1023px) {

  // Страница для неавторизованных пользователей (вместо постов)
  .Q_welcomeLogo {
    font-size: 22vw;
    margin-top: -4vw;
    margin-left: -1vw;
  }
  .Q_welcomeSubtitle {
    top: 21vw;
    width: 100%;
  }
  .Q_welcomeAbout {
    width: 69vw;
    bottom: 53vw;
    left: 26vw;
  }
  .Q_welcomeImg1{
    width: 68.2vw;
    height: 55vw;
    bottom: auto;
    top: 31vw;
  }
  .Q_welcomeImg2 {
    width: 14.2vw;
    height: 18.1vw;
    bottom: 24vw;
    right: 70vw;
  }
  .Q_welcomeImg3 {
    width: 48.9vw;
    bottom: 0;
    right: 0;
  }
  .Q_welcomeSubtitle2 {
    width: 100%;
  }
  .Q_welcomeImg4, .Q_welcomeImg5, .Q_welcomeImg6 {
    height: 46.6vw;
  }
  .Q_welcomeSubtitle3 {
    width: 100%;
    margin-left: 0;
  }
  .C_welcomeTags {
    .Q_tag {
        padding: 2vw 2.8vw;
    }
  }
  .Q_welcomeImg7 {
    width: 181vw;
    height: auto;
    top: 14vw;
    right: auto;
    left: 0;
  }
  .Q_welcomeTitle2 {
    top: 0vw;
    left: 0vw;
  }
  .Q_welcomeSubtitle4 {
    top: 5.6vw;
    left: 0; 
    width: 60%;
  }
  .Q_welcomeTitle3 {
    bottom: 11vw;
    right: 16vw;
    width: auto;
  }
  .Q_welcomeReg, .Q_welcomeSign {
    padding: 2.5vw 5.1vw;
    font-size: 16px;
  }
  .Q_welcomeReg {
    right: 31vw;
  }
  .Q_welcomeSign {
    right: 9vw;
  }

  // Логин, регистрации, редактирование профиля ---------------------------------------------- 
  .Q_formPostTitle, .Q_formPostDesc, .Q_addItemLinkInput, .Q_itemInput, .Q_footerInput, .Q_logInInput, .Q_regInput, .Q_settingsInput {
    width: 100%;
  }
  .Q_formPostTitle, .Q_logInInput, .Q_regInput {
    padding: 1.3vw;
    font-size: 18px;
    &::placeholder {
      font-size: 18px;
    }
    &:focus {
        font-size: 18px;
    }
  }
  .Q_logInRememberCheck {
    width: 2.2vw;
    height: 2.2vw;
    &:checked::before {
      font-size: 14px;
    }
  }
  .Q_regButton, .Q_logInButton, .Q_editProfileButton {
    font-size: 16px;
    padding: 1.3vw 2.7vw;
  }
  .Q_regSkip, .Q_additemCancel, .Q_editProfileCancel, .Q_logInRedirect  {
    margin-top: 1.3vw;
  }
  .Q_regCaption {
    margin-top: 5.4vw;
    width: 49.6vw;
    margin-bottom: 1.3vw;
  }
  .Q_logInRedirectLink {
    font-size: 16px;
  }

  // Профиль ---------------------------------------------- 
  .Q_profileAvatar {
    width: 8.6vw;
    height: 8.6vw;
  }
  .Q_editProfileBtn {
    gap: 1.3vw;
    padding: 2vw 2.7vw;
    div {
      width: 3.2vw;
      height: 3.2vw;
    }
  }
  .C_profileFeedPosts {
    .Q_postPartialImage {
      height: 36.3vw; 
    }
  }
  .Q_collectionSearch {
    padding: 1.3vw 1.3vw 1.3vw 2.7vw;
    border-radius: 10vw;
    font-size: 16px;
    &::placeholder {
      font-size: 16px;
    }
  }
  .Q_itemImg {
    height: 44.9vw;
  }
  .Q_marketUrl {
    gap: 1.3vw;
    img {
      width: 3vw;
      height: 3vw;
    }
  }
  .Q_subscribeBtn, .Q_unSubscribeBtn {
    padding: 2vw 2.7vw;
    font-size: 16px;
  }
  .Q_followsAvatar {
    width: 8.6vw;
    height: 8.6vw;
  }
  .Q_followBtn, .Q_unfollowBtn {
      padding: 0.7vw 1.3vw;
      border-radius: 10vw;
      font-size: 16px;
  }

  // Посты ---------------------------------------------- 
  .Q_changeFeedLayoutBtn {
    width: 3.2vw;
    height: 3.2vw;
  }
  .Q_feedSortBtn, .Q_feedFltrBtn {
    padding: 0.7vw 1.3vw;
  }
  .Q_postPartialAvatar, .Q_postAvatar, .Q_avatarImg {
    width: 3.2vw;
    height: 3.2vw;
  }
  .Q_closeBtn, .Q_closeFltrBtn, .Q_modalCloseBtn, .Q_settingsCloseBtn, .Q_searchCloseBtn {
    width: 3.2vw;
    height: 3.2vw;
  }
  .Q_bullet {
    width: 2.2vw;
    height: 2.2vw;
    &:checked {
      &:before {
        width: 1.1vw;
        height: 1.1vw;
      }
    }
  }
  .Q_checkbox {
    width: 2.2vw;
    height: 2.2vw;
    &:checked::before {
      width: 1.5vw; 
      height: 1.5vw;
    }
  }
  .Q_back {
    width: 3.2vw;
    height: 3.2vw;
  }
  .Q_postCover {
    max-width: 100%;
    height: auto;
    max-height: fit-content;
    width: 100%;
  }
  .Q_postDescription {
    max-width: 81vw;
  }
  .Q_tag {
    padding: 0.9vw 1.3vw; 
  }
  .Q_actionPostBtn, .Q_likeBtn, .Q_deleteCommentButton, .Q_deleteItemBtn {
    height: 3.2vw;
    width: 3.2vw;
  }
  .Q_commentText {
    max-width: 64.7vw;
    gap: 0.7vw;
  }
  .Q_showReplies {
    gap: 1.3vw;
    div {
      width: 5.2vw;
    }
  }
  .Q_commentatorAvatar {
    width: 8.6vw;
    height: 8.6vw;
  }
  .Q_commentFormInput {
    padding: 3vw 3vw;
    font-size: 18px;
    border-radius: 7vw;
    &::placeholder {
        font-size: 18px;
    }
    &:focus {
        font-size: 18px;
    }
  }
  .Q_commentFormSubmit {
    width: 5.6vw;
    height: 5.6vw;
    top: 1.5vw;
    right: 1.3vw;
    img {
        width: 3.2vw;
        height: 3.2vw;
    }
  }
  .Q_plusImg {
    padding: 1.1vw;
  }
  .Q_formPostDesc, .Q_addItemLinkInput, .Q_itemInput, .Q_footerInput {
    padding: 1.6vw 1.3vw;
    font-size: 16px;
    &::placeholder {
      font-size: 16px;
    }
    &:focus {
        font-size: 16px;
    }
  }
  .Q_tagBtn {
    padding: 0.7vw 1.3vw; 
  }
  .Q_addItemButton, .Q_publishPostBtn, .Q_newCollectionBtn  {
    font-size: 16px;
    padding: 1.3vw 2.7vw;
  }
  .Q_postItemImage {
    width: 11vw;
    height: 11vw;
  }
  .Q_formItemLink {
    font-size: 14px;
  }

  .Q_footerSocial {
    gap: 0.4vw;
    img {
      width: 3.2vw;
      height: 3.2vw;
    }
  }

  .Q_menuIcon, .Q_menuAvatar  {
    height: 3.2vw;
    width: 3.2vw;
  }
  .Q_menuLogo {
    font-size: 5.4vw;
    margin-top: 0.8vw;
  }
  .Q_settingsAvatar {
    width: 8.6vw;
    height: 8.6vw;
  }
  .Q_settingsNavBtn {
    padding: 1.3vw 2.7vw 1.3vw 1.3vw;
  }
}

@media only screen and (min-width: 393px) and (max-width: 743px) {

  // Страница для неавторизованных пользователей (вместо постов)
  .Q_welcomeLogo {
    font-size: 22vw;
    margin-top: -4vw;
    margin-left: -1vw;
  }
  .Q_welcomeSubtitle {
    top: 21vw;
    width: 100%;
  }
  .Q_welcomeAbout {
    width: 69vw;
    bottom: 53vw;
    left: 26vw;
  }
  .Q_welcomeImg1{
    width: 68.2vw;
    height: 55vw;
    bottom: 93vw;
  }
  .Q_welcomeImg2 {
    width: 14.2vw;
    height: 18.1vw;
    bottom: 24vw;
    right: 70vw;
  }
  .Q_welcomeImg3 {
    width: 48.9vw;
    bottom: 0;
    right: 0;
  }
  .Q_welcomeSubtitle2 {
    width: 100%;
  }
  .Q_welcomeImg4, .Q_welcomeImg5, .Q_welcomeImg6 {
    height: 46.6vw;
  }
  .Q_welcomeSubtitle3 {
    width: 100%;
    margin-left: 0;
  }
  .C_welcomeTags {
    .Q_tag {
        padding: 2vw 2.8vw;
    }
  }
  .Q_welcomeImg7 {
    width: 181vw;
    height: auto;
    top: 36vw;
    right: auto;
    left: 0;
  }
  .Q_welcomeTitle2 {
    top: 0vw;
    left: 0vw;
  }
  .Q_welcomeSubtitle4 {
    top: 10.4vw;
    left: 0; 
    width: 90%;
  }
  .Q_welcomeTitle3 {
    bottom: 13vw;
    right: auto;
    left: 0; 
    width: 100%;
  }
  .Q_welcomeReg, .Q_welcomeSign {
    padding: 2.5vw 5.1vw;
    font-size: 15px;
  }
  .Q_welcomeReg {
    right: auto;
    left: 0;
  }
  .Q_welcomeSign {
    right: 13vw;
  }

  // Логин, регистрации, редактирование профиля ---------------------------------------------- 
  .Q_formPostTitle, .Q_formPostDesc, .Q_addItemLinkInput, .Q_itemInput, .Q_footerInput, .Q_logInInput, .Q_regInput, .Q_settingsInput {
    width: 100%;
  }
  .Q_formPostTitle, .Q_logInInput, .Q_regInput {
    padding: 2.5vw;
    font-size: 17px;
    &::placeholder {
      font-size: 17px;
    }
    &:focus {
        font-size: 17px;
    }
  }
  .Q_logInRememberCheck {
    width: 4.1vw;
    height: 4.1vw;
    &:checked::before {
      font-size: 12px;
    }
  }
  .Q_regButton, .Q_logInButton, .Q_editProfileButton {
    font-size: 15px;
    padding: 2.5vw 5.1vw;
  }
  .Q_regSkip, .Q_additemCancel, .Q_editProfileCancel, .Q_logInRedirect  {
    margin-top: 2.5vw;
  }
  .Q_regCaption {
    margin-top: 10.2vw;
    width: 79.6vw;
    margin-bottom: 2.5vw;
  }
  .Q_logInRedirectLink {
    font-size: 15px;
  }

  // Профиль ---------------------------------------------- 
  .Q_profileAvatar {
    width: 12.7vw;
    height: 12.7vw;
    border-radius: 100%;
  }
  .Q_editProfileBtn {
    gap: 2.5vw;
    padding: 3.8vw 5.1vw;
    div {
      width: 4.6vw;
      height: 4.6vw;
    }
  }
  .C_profileFeedPosts {
    .Q_postPartialImage {
      height: 64vw; 
    }
  }
  .Q_collectionSearch {
    padding: 2.5vw 2.5vw 2.5vw 5.1vw;
    border-radius: 10vw;
    font-size: 15px;
    &::placeholder {
      font-size: 15px;
    }
  }
  .Q_itemImg {
    height: 43.8vw;
  }
  .Q_marketUrl {
    a {
      display: none;
    }
    img {
      width: 5.6vw;
      height: 5.6vw;
    }
  }
  .Q_subscribeBtn, .Q_unSubscribeBtn {
    padding: 3.8vw 5.1vw;
    font-size: 15px;
  }
  .Q_followsAvatar {
    width: 12.7vw;
    height: 12.7vw;
  }
  .Q_followBtn, .Q_unfollowBtn {
      padding: 1.3vw 2.5vw;
      border-radius: 10vw;
      font-size: 15px;
  }

  // Посты ---------------------------------------------- 
  .Q_changeFeedLayoutBtn {
    width: 4.6vw;
    height: 4.6vw;
  }
  .Q_feedSortBtn, .Q_feedFltrBtn {
    padding: 1.3vw 1.8vw;
  }
  .Q_postPartialAvatar, .Q_postAvatar, .Q_avatarImg {
    width: 4.6vw;
    height: 4.6vw;
  }
  .Q_closeBtn, .Q_closeFltrBtn, .Q_modalCloseBtn, .Q_settingsCloseBtn, .Q_closeButton, .Q_searchCloseBtn {
    width: 4.6vw;
    height: 4.6vw;
  }
  .Q_bullet {
    width: 4.1vw;
    height: 4.1vw;
    &:checked {
      &:before {
        width: 2vw;
        height: 2vw;
      }
    }
  }
  .Q_checkbox {
    width: 4.1vw;
    height: 4.1vw;
    &:checked::before {
      width: 2.8vw; 
      height: 2.8vw;
    }
  }
  .Q_back {
    width: 4.6vw;
    height: 4.6vw;
  }
  .Q_postCover {
    max-width: 100%;
    height: auto;
    max-height: fit-content;
    width: 100%;
  }
  .Q_postDescription {
    max-width: 100%;
  }
  .Q_tag {
    padding: 1.3vw 2.5vw; 
  }
  .Q_actionPostBtn, .Q_likeBtn, .Q_deleteCommentButton, .Q_deleteItemBtn {
    height: 4.6vw;
    width: 4.6vw;
  }
  .Q_commentText {
    max-width: 72vw;
    gap: 1.3vw;
  }
  .Q_showReplies {
    gap: 2.5vw;
    div {
      width: 9.9vw;
    }
  }
  .Q_commentatorAvatar {
    width: 12.7vw;
    height: 12.7vw;
  }
  .Q_commentFormInput {
    padding: 3.6vw 6.1vw;
    font-size: 17px;
    border-radius: 7vw;
    &::placeholder {
        font-size: 17px;
    }
    &:focus {
        font-size: 17px;
    }
  }
  .Q_commentFormSubmit {
    width: 9.2vw;
    height: 9.2vw;
    top: 1.8vw;
    right: 2.5vw;
    img {
        width: 4.1vw;
        height: 4.1vw;
    }
  }
  .Q_plusImg {
    padding: 2vw;
  }
  .Q_formPostDesc, .Q_addItemLinkInput, .Q_itemInput, .Q_footerInput {
    padding: 3vw 2.5vw;
    font-size: 15px;
    &::placeholder {
      font-size: 15px;
    }
    &:focus {
        font-size: 15px;
    }
  }
  .Q_tagBtn {
    padding: 1.3vw 2.5vw; 
  }
  .Q_addItemButton, .Q_publishPostBtn, .Q_newCollectionBtn  {
    font-size: 15px;
    padding: 2.5vw 5.1vw;
  }
  .Q_postItemImage {
    width: 20.9vw;
    height: 20.9vw;
  }
  .Q_formItemLink {
    font-size: 12px;
  }

  .Q_footerSocial {
    gap: 0.8vw;
    img {
      width: 4.6vw;
      height: 4.6vw;
    }
    &.mobile {
      display: flex;
    }
  }
  .Q_footerQR {
    display: none;
  }
  .Q_footerFormBtn {
    right: 2.5vw;
    top: 3.6vw;
  }
  .Q_menuIcon {
    height: 4.6vw;
    width: 4.6vw;
  }
  .Q_menuLogo {
    font-size: 6.9vw;
    margin-top: 1.9vw;
  }
  .Q_createCollectionBtn {
    width: 4.6vw;
    height: 4.6vw;
  }
  .Q_deleteCollectionBtn, .Q_editCollectionBtn {
    width: 4.6vw;
    height: 4.6vw;
  }
}