.S_collectionShow {
    width: 100%;
    height: auto;
    margin-top: 2.8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8vw;
}

// Меню ---------------------------------------------- 
.S_menuBarAuth {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4.5vw;
    padding: 0 2.2vw;
    z-index: 30;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    box-shadow: 0 0 0.8vw rgba(213, 90, 0, 0.07);
}
.S_menuBar {
        box-shadow: 0 0 0.8vw rgba(213, 90, 0, 0.07);
        width: 100%;
        height: auto;
        position: fixed;
        display: flex;
        flex-direction: column;
            top: 0;
                z-index: 30;
}
.S_menuBarAuth {
    justify-content: center;

}


// Сортировка и фильтры ---------------------------------------------- 

.S_sort, .S_filter {
    position: fixed;
    z-index: 31;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
    &.show {
        display: flex;
        background-color: rgba(0, 0, 0, 0.4);
    }
}


// Формы, инпуты и другое ---------------------------------------------- 

.S_postForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
}
.S_modalItemForm, .S_modalItemError, .S_modalSettings {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 31;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
    &.show {
        display: flex;
        background-color: rgba(0, 0, 0, 0.4);
    }
}

// Логин, регистрации, редактирование профиля ---------------------------------------------- 

.S_auth {
    overflow: hidden;
}
.S_firstRegistrationStep, .S_logIn {
    position: relative;
    width: 100%;
    height: 90vh;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.1vw;

}
.S_secondRegistrationStep {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.4vw;
    left: 100vw;
    margin-top: -2.4vw;
    transition: 0.3s ease;
}
.S_auth {
    overflow-x: hidden;
}
/* Анимация выезда второй секции */
.S_secondRegistrationStep.slide-in {
    transform: translateX(-100vw); /* Въезд на экран */
}


// Страница для неавторизованных пользователей (вместо постов) ---------------------------------------------- 

.S_guestWelcome {
    position: relative;
    width: 100%;
    height: 55.4vw;
    overflow-x: hidden;
    overflow-y: visible;
}
.S_guestWelcome2 {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12vw;
}
.S_guestWelcome3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.6vw;
    margin-top: 8vw;
}
.S_guestWelcome4 {
    position: relative;
    width: 100%;
    height: 69vw;
    margin-top: 8vw;
}


// Посты ---------------------------------------------- 

.S_postContent {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1.6vw;
    overflow: hidden;
}
.S_postItems, .S_postComments {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.6vw; 
    margin-top: 5.5vw;
}

.S_popularPosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 3.6vw;
    margin: 0vw 0 5.6vw 0;
}
.S_posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 3.6vw;
    margin: 0.8vw 0 5.6vw 0;
}
.S_emptyFollowing {
    display: flex;
    flex-direction: column;
    gap: 3.1vw;
    align-items: center;
    width: 100%;
    padding: 6.3vw 0;
}


// Профиль ---------------------------------------------- 

.S_addItem, .S_editProfile {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.6vw;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.S_profileFeed {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.S_follows {
    margin-top: 0.6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.6vw;
}


// Футер ---------------------------------------------- 

.S_footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 2.2vw;
    margin-top: 5.5vw;
}

@media only screen and (max-width: 430px) {
    .S_menuBar {
        top: 5vw;
        width: 90vw;
        height: 15vw;
        z-index: 50;
        border: 0.5vw solid var(--orange);
    }
    .S_postContent {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        gap: 15.3vw;
    }
    .S_postComments {
        width: 100%;
        gap: 6.2vw;
        margin-top: 15.3vw;
    }
    .S_profileHeader {
        margin: 0;
        gap: 5.1vw;
    }
    .S_addItem, .S_editProfile {
        gap: 8.9vw;
    }
    .S_firstRegistrationStep, .S_logIn {
        gap: 8.9vw;
    }
}

  
