.S_collectionShow {
    width: 100%;
    height: auto;
    margin-top: 2.8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8vw;
}

// Меню ---------------------------------------------- 
.S_menuBarAuth {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 4.5vw;
    padding: 0 2.2vw;
    z-index: 30;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    box-shadow: 0 0 0.8vw rgba(213, 90, 0, 0.07);
}
.S_menuBar {
    box-shadow: 0 0 0.8vw rgba(213, 90, 0, 0.07);
    width: 100vw;
    height: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    z-index: 30;
    &.mobile {
        display: none;
    }

}
.S_menuBarAuth {
    justify-content: center;

}


// Сортировка и фильтры ---------------------------------------------- 

.S_sort, .S_filter {
    position: fixed;
    z-index: 31;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
    &.show {
        display: flex;
        background-color: rgba(0, 0, 0, 0.4);
    }
}


// Формы, инпуты и другое ---------------------------------------------- 

.S_postForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
}
.S_modalItemForm, .S_modalItemError, .S_modalSettings {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 31;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
    &.show {
        display: flex;
        background-color: rgba(0, 0, 0, 0.4);
    }
}

// Логин, регистрации, редактирование профиля ---------------------------------------------- 

.S_auth {
    overflow: hidden;
}
.S_firstRegistrationStep, .S_logIn {
    position: relative;
    width: 100%;
    height: 90vh;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.1vw;

}
.S_secondRegistrationStep {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.4vw;
    left: 100vw;
    margin-top: -2.4vw;
    transition: 0.3s ease;
}
.S_auth {
    overflow-x: hidden;
}
/* Анимация выезда второй секции */
.S_secondRegistrationStep.slide-in {
    transform: translateX(-100vw); /* Въезд на экран */
}


// Страница для неавторизованных пользователей (вместо постов) ---------------------------------------------- 

.S_guestWelcome {
    position: relative;
    width: 100%;
    height: 55.4vw;
    overflow-x: hidden;
    overflow-y: visible;
}
.S_guestWelcome2 {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: space-between;
    margin-top: 12vw;
}
.S_guestWelcome3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.6vw;
    margin-top: 8vw;
}
.S_guestWelcome4 {
    position: relative;
    width: 100%;
    height: 69vw;
    margin-top: 8vw;
}


// Посты ---------------------------------------------- 

.S_postContent {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1.6vw;
    overflow: hidden;
}
.S_postItems, .S_postComments {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.6vw; 
    margin-top: 5.5vw;
}

.S_popularPosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 3.6vw;
    margin: 0vw 0 5.6vw 0;
}
.S_posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 3.6vw;
    margin: 0.8vw 0 5.6vw 0;
}
.S_emptyFollowing {
    display: flex;
    flex-direction: column;
    gap: 3.1vw;
    align-items: center;
    width: 100%;
    padding: 6.3vw 0;
}


// Профиль ---------------------------------------------- 

.S_addItem, .S_editProfile {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.6vw;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.S_profileFeed {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.S_follows {
    margin-top: 0.6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.6vw;
}


// Футер ---------------------------------------------- 

.S_footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 2.2vw;
    margin-top: 5.5vw;
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {

    // Страница для неавторизованных пользователей (вместо постов) ---------------------------------------------- 
    .S_guestWelcome {
        height: 62.4vw;
    }
    .S_guestWelcome2 {
        gap: 2vw;
        margin-top: 16vw;
    }
    .S_guestWelcome3 {
        gap: 2vw;
        margin-top: 10vw;
    }
    .S_guestWelcome4 {
        height: 69vw;
        margin-top: 10vw;
    }

    // Логин и Регистрация ---------------------------------------------- 
    .S_firstRegistrationStep, .S_logIn {
        gap: 3.9vw;
    }
    .S_secondRegistrationStep {
        gap: 3.9vw;
        margin-top: -15vw;
    }
    .S_follows {
        gap: 2vw;
    }

    // Посты ---------------------------------------------- 
    .S_postContent {
        gap: 2vw;
    }
    .S_postItems, .S_postComments {
        margin-top: 8.8vw;
        gap: 2.9vw; 
    }
    .S_postForm {
        gap: 1vw;
    }

    .S_footer {
        gap: 2.3vw;
        margin-top: 6.8vw;
    }
}
@media only screen and (min-width: 744px) and (max-width: 1023px) {

    // Страница для неавторизованных пользователей (вместо постов) ---------------------------------------------- 
    .S_guestWelcome {
        height: 156.6vw;
    }
    .S_guestWelcome2 {
        gap: 2.1vw;
        margin-top: 10.1vw;
        flex-direction: column;
    }
    .S_guestWelcome3 {
        gap: 2.1vw;
        margin-top: 10.8vw;
        overflow: hidden;
    }
    .S_guestWelcome4 {
        height: 145vw;
        margin-top: 10.8vw;
    }

    // Логин и Регистрация ---------------------------------------------- 
    .S_firstRegistrationStep, .S_logIn {
        gap: 5.4vw;
    }
    .S_secondRegistrationStep {
        gap: 5.4vw;
        margin-top: -9.1vw;
    }
    .S_follows {
        gap: 2.7vw;
    }

    // Посты ---------------------------------------------- 
    .S_postContent {
        flex-direction: column;
        gap: 0;
    }
    .S_postItems, .S_postComments {
        margin-top: 9.4vw;
        gap: 4vw; 
    }
    .S_postForm {
        gap: 1.3vw;
    }

    .S_footer {
        gap: 1.3vw;
        margin-top: 9.4vw;
    }

}
@media only screen and (min-width: 393px) and (max-width: 743px) {

    // Страница для неавторизованных пользователей (вместо постов) ---------------------------------------------- 
    .S_guestWelcome {
        height: 190.6vw;
    }
    .S_guestWelcome2 {
        gap: 3.8vw;
        margin-top: 18.1vw;
        flex-direction: column;
    }
    .S_guestWelcome3 {
        gap: 3.8vw;
        margin-top: 17.8vw;
        overflow: hidden;
    }
    .S_guestWelcome4 {
        overflow: hidden;
        height: 195vw;
        margin-top: 17.8vw;
    }

    // Логин и Регистрация ---------------------------------------------- 
    .S_firstRegistrationStep, .S_logIn {
        gap: 10.2vw;
    }
    .S_secondRegistrationStep {
        gap: 10.2vw;
        margin-top: -17vw;
    }
    .S_follows {
        gap: 5.1vw;
    }

    // Сортировка и фильтры ---------------------------------------------- 
    .S_sort, .S_filter {
        justify-content: flex-start;
    }

    // Посты ---------------------------------------------- 
    .S_postContent {
        flex-direction: column;
        gap: 0;
    }
    .S_postItems, .S_postComments {
        margin-top: 12.7vw;
        gap: 5.1vw; 
    }
    .S_postForm {
        gap: 2.5vw;
    }

    .S_footer {
        gap: 2.5vw;
        margin-top: 17.8vw;
    }

    .S_menuBar {
        &.mobile {
            display: flex;
        }
        &.desktop {
            display: none;
        }
    }

}

  
