// Главное Меню
.W_menuActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 30vw;
    &.left {
        justify-content: flex-start;
    }
    &.right {
        justify-content: flex-end;
    }
}
.W_dropdownProfileMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
    top: 4.73vw;
    right: -0.16vw;
    width: 17.6vw;
    background-color: var(--white);
    border: 0.16vw solid var(--orange);
    padding: 1.2vw;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    &.active {
        transform: translateX(0);
        opacity: 1;
    }
}
.A_dropdownMenuBlock {
    .W_userActions {
        display: flex;
        flex-direction: column;
        gap: 0.2vw;
        a {
            font-size: 1.2vw;
        }
    }
}
//Сортировка и Фильтры
.W_filterSortHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    h3 {
        color: var(--black);
        text-transform: uppercase;
        font-weight: 600;
        line-height: 100%;
    }
}
.W_filterCategories {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    
}
.W_filterSortBtns {
    display: flex;
    flex-direction: row;
    gap: 0.8vw;
}
// Индекс Поста
.W_postFeedHeader {
    display: flex;
    flex-direction: row;
    gap: 0.8vw;
}
// Паршиал поста
.W_postPartialDetails {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;    
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
    padding: 1.6vw 1.2vw 1.2vw 1.2vw;
    opacity: 0;
    transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(0.1vw); 
    mask-image: linear-gradient(to top, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%);
    transform: translateY(1vw);
}
.W_postPartialSaveHeader {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 20;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-1vw);
    opacity: 0;
    transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.O_post:hover  {
    .W_postPartialDetails, .W_postPartialSaveHeader {
        transform: translateY(0);
        opacity: 1;
    }
}
.W_postPartialCollectionDropdown {
    position: absolute;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(0.8vw);
    transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
    top: 0;
    left: 0;
    padding: 5.2vw 1.2vw 1.2vw 1.2vw;
    transform: translateY(0);
    opacity: 0;
    &.dropdown {
        transform: translateY(-100%);
    }
}
.O_post:hover  {
    .W_postPartialCollectionDropdown {
        opacity: 1;
    }
}

.W_postHead {
    height: 5vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.W_postSocActions {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.W_itemContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h5 {
        color: var(--white);
        background-color: var(--orange);
        padding: 1vw 1.6vw;

    }
    img {
        border-radius: 100%;
        width: 2.1vw;
        height: 2.1vw;
        margin-right: 0.6vw;
        object-fit: cover;
    }
}

.W_commentActions {
    margin-top: 1.8vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h6 {
        color: var(--grey-dark);
    }
}
.W_commentator {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.W_postInfo {
    display: flex;
    flex-direction: column;
    gap: 3.4vw;
}




.W_profileStatistics {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1.6vw;
    img {
        height: 3.4vw;
      }
}

.W_feedToggle {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3.6vw;
    margin-bottom: 3.6vw;
}


.W_footerContent {
    display: flex;
    gap: 6.2vw;
}
.W_footerBtns, .W_footerLinks {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

@media only screen and (max-width: 430px) {
    .W_menuActions {
        height: 100%;
    }
    .W_dropdownProfileMenu {
        gap: 5.2vw;
        top: 14.3vw;
        right: -0.36vw;
        width: 90vw;
        background-color: var(--white);
        border: 0.5vw solid var(--orange);
        padding: 5.2vw;
        transform: translateX(100%);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
        &.active {
            transform: translateX(0);
            opacity: 1;
        }
    }
    .A_dropdownMenuBlock {
        .W_userActions {
            gap: 3vw;
            a {
                font-size: 3.8vw;
            }
        }
    }
    .W_postHead {
        height: 11.5vw;
    }
    .W_postInfo {
        gap: 8.9vw;
    }
    .W_itemContent {
        h5 {
            padding: 3.8vw;
    
        }
        img {
            width: 7.6vw;
            height: 7.6vw;
            margin-right: 1.6vw;
        }
    }
    .W_profileStatistics {
        gap: 8.7vw;
        img {
            height: 9.9vw;
          }
    } 
    .W_feedToggle {
        gap: 10.2vw;
        margin: 10.2vw 0;
    }
}