// Меню ---------------------------------------------- 

.W_menuActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 30vw;
    &.left {
        justify-content: flex-start;
    }
    &.right {
        justify-content: flex-end;
    }
}
.W_dropdownProfileMenu {
    position: fixed;
    z-index: 29;
    display: flex;
    flex-direction: column;
    gap: 2.3vw;
    top: 4.4vw;
    right: 0;
    background-color: var(--white);
    padding: 1.6vw;
    transform: translateY(-150%);
    opacity: 0;
    transition: transform 0.7s ease, opacity 0.3s ease;
    &.active {
        transform: translateY(0);
        opacity: 1;
    }
}
.A_dropdownMenuBlock {
    .W_userActions {
        display: flex;
        flex-direction: column;
        gap: 0.4vw;
        a {
            font-size: 1.3vw;
        }
    }
}
.W_indexPostsHeader{
    position: relative;
    display: flex;
    z-index: 29;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.8vw;
    padding: 1.6vw 2.2vw 0.8vw 2.2vw;
    width: 100%;
    margin-top: -0.8vw;
    height: auto;
    background-color: var(--white);
}
.W_collectionsHeader {
    position: relative;
    display: flex;
    z-index: 29;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.6vw 2.2vw 0.8vw 2.2vw;
    width: 100%;
    margin-top: -1.6vw;
    height: auto;
    background-color: var(--white);
}
.W_collectionImageWrapper {
    width: 17.2vw;
    height: 17.2vw;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }
}


// Сортировка и фильтры ---------------------------------------------- 

.W_filterSortHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    h3 {
        color: var(--black);
        text-transform: uppercase;
        font-weight: 600;
        line-height: 100%;
    }
}
.W_filterCategories {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    
}
.W_filterSortBtns {
    display: flex;
    flex-direction: row;
    gap: 0.8vw;
}
.W_profileFeedSortBtn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-top: -2vw;
}


// Формы, инпуты и другое ---------------------------------------------- 

.W_postFormBack, .W_modalCloseBtn {
    width: 100%;
}
.W_modalCloseBtn {
    display: flex;
    justify-content: flex-end;
}
.W_formPostDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.9vw;
}
.W_modalAddItemContainer {
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
    padding: 1.6vw 2.2vw 2.2vw 2.2vw;
    align-items: center;
    background-color: var(--white);
}
.W_formItemInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.W_settingsContent {
    display: flex;
    flex-direction: row;
    gap: 4.7vw;
    height: 100%;
    justify-content: flex-start;
    width: 100%;
}
.W_settingsSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30.6vw;
    gap: 2.3vw;
    height: 100%;
}
.W_settingsForm {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}


// Страница для неавторизованных пользователей (вместо постов) ---------------------------------------------- 

.W_welcomePopular {
    display: flex;
    flex-direction: column;
    gap: 1.6vw;
}
.W_welcomeTagsHeader {
    display: flex;
    flex-direction: row;
    gap: 1.6vw;
    align-items: center;
}


// Коллекции ---------------------------------------------- 

.W_collectionDropdown {
    position: absolute;
    width: 100%;
    max-height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(0.8vw);
    transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
    top: 0;
    left: 0;
    padding: 5.2vw 1.2vw 1.2vw 1.2vw;
    transform: translateY(0);
    overflow: hidden;
    // opacity: 0;
    &.dropdown {
        transform: translateY(-101%);
    }
    &.postPartial {
        opacity: 0;
    }
    &.post {
        background-color: rgba(229, 229, 229, 0.8);
        width: 50%;
        left: 50%;
    }
}
.O_post:hover  {
    .W_collectionDropdown {
        opacity: 1;
    }
}


// Посты ---------------------------------------------- 

.W_postFeedHeader {
    display: flex;
    flex-direction: row;
    gap: 0.8vw;
}
.W_postPartialDetails {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;    
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
    padding: 1.6vw 1.2vw 1.2vw 1.2vw;
    opacity: 0;
    transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(0.1vw); 
    mask-image: linear-gradient(to top, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%);
    transform: translateY(1vw);
}
.W_saveHeader {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 20;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
    &.postPartial {
        transform: translateY(-1vw);
        opacity: 0;
    }
    &.post {
        position: relative;
        width: auto;
        justify-content: end;
        height: auto;
    }
}
.O_post:hover  {
    .W_postPartialDetails, .W_saveHeader {
        transform: translateY(0);
        opacity: 1;
        &.postPartial {
            transform: translateY(0);
            opacity: 1;
        }
    }
}
.W_postActions {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.W_postInfo {
    display: flex;
    flex-direction: column;
    gap: 1.6vw;
}
.W_postHead {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.8vw;
}
.W_postSocActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8vw;
}
.W_emptyText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6vw;
    h2 {
        text-align: center;
    }
}
.W_emptySuggestions {
    position: relative;
    width: 63.3vw;
    display: flex;
    flex-direction: row;
    gap: 0.8vw;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    h4 {
        color: var(--black);
    }
}


// Теги ---------------------------------------------- 

.W_tagsByCattegory {
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
}


// Товары ---------------------------------------------- 

.W_itemContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.4vw;
}
.W_itemMarketInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


// Комментарии ---------------------------------------------- 

.W_commentator {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.W_commentActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8vw;
}
.W_commentBody {
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
}


// Профиль ---------------------------------------------- 

.W_subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.W_myProfileFeedHeader {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}
.W_profileFeedHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.W_profileStatistics {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1.6vw;
    img {
        height: 3.4vw;
      }
}
.W_feedToggle {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3.6vw;
    margin-bottom: 3.6vw;
}


// Футер ---------------------------------------------- 

.W_footerContent {
    display: flex;
    gap: 6.2vw;
}
.W_footerBtns, .W_footerLinks {
    height: 100%;
    display: flex;
    align-items: flex-end;
}



@media only screen and (max-width: 430px) {
    .W_menuActions {
        height: 100%;
    }
    .W_dropdownProfileMenu {
        gap: 5.2vw;
        top: 14.3vw;
        right: -0.36vw;
        width: 90vw;
        background-color: var(--white);
        border: 0.5vw solid var(--orange);
        padding: 5.2vw;
        transform: translateX(100%);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
        &.active {
            transform: translateX(0);
            opacity: 1;
        }
    }
    .A_dropdownMenuBlock {
        .W_userActions {
            gap: 3vw;
            a {
                font-size: 3.8vw;
            }
        }
    }
    .W_postHead {
        height: 11.5vw;
    }
    .W_postInfo {
        gap: 8.9vw;
    }
    .W_itemContent {
        h5 {
            padding: 3.8vw;
    
        }
        img {
            width: 7.6vw;
            height: 7.6vw;
            margin-right: 1.6vw;
        }
    }
    .W_profileStatistics {
        gap: 8.7vw;
        img {
            height: 9.9vw;
          }
    } 
    .W_feedToggle {
        gap: 10.2vw;
        margin: 10.2vw 0;
    }
}