/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    box-sizing: border-box;
 }
 a {
    text-decoration: none; 
    color: inherit;  
 }
a:hover {
    cursor: pointer;       
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post {
    width: 23.8vw;
    background-color: white;
    border-radius: 1.24vw;
    padding-top: 1vw;
    margin-bottom: 0.86vw;
    overflow: hidden;
}
.post-link {
    text-decoration: none; 
    color: inherit;    
}
  
.post-link:hover {
    cursor: pointer;       
}

.createdAt {
    font-size: smaller;
    font-weight: 500;
    color: grey;
    margin: 0 1vw 0.36vw 1vw;
}
.postImage {
    width: 100%;
    border-radius: 1.46vw;
    margin-bottom: -0.36vw;
}
#posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.postTitle {
    margin: 0 1vw 1vw 1vw;
}
.postDescription {
    margin: 0.48vw 1vw 1vw 1vw;
}
.selectedTags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.36vw;
    p {
        margin: 0;
        padding: 0.48vw 1vw;
        color: white;
        background-color: #393939;
        border-radius: 100vw;
    }
}


.item {
    margin-bottom: 0.86vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.36vw 1.56vw;
    border-radius: 1.24vw;
    background-color: white;
    border: 0.16vw solid #efefef;
}
.item:hover {
    cursor: pointer;       
}

.postShow {
    width: 86vw;
    height: 48vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1.24vw;
    overflow: hidden;
    background-color: white;
    .postImage {
        width: 43vw;
        height: 48vw;
        border-radius: 0 1.46vw 1.46vw 0;
        object-fit: cover;
    }
    .postInfo {
        box-sizing: border-box;
        width: 43vw;
        display: flex;
        flex-direction: column;
        padding: 2vw;
        overflow-y: auto;
        .createdAt {
            margin: 0 0 0.56vw 0;
        }
        .postTitle {
            margin: 1vw 0 0vw 0;
            max-width: 36vw;
        }
        .postDescription {
            max-width: 36vw;
            margin: 0.86vw 0 2vw 0;
        }
    }
}
.backToPosts a {
    position: absolute;
    top:5vw;
    left:3vw;
    text-decoration: none; 
    color: inherit;   
}

.backToPosts a:hover {
    cursor: pointer;
}
.dateAndActions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.postComments, .addPostComment {
    width: 86vw;
}
.postComment {
    margin-bottom: 0.86vw;
    width: 36vw;
    display: flex;
    flex-direction: column;
    padding: 0.36vw 1.56vw;
    border-radius: 1.24vw;
    background-color: white;
    h5 {
        margin: 1vw 0 0 0;
    }
    p {
        margin: 0.36vw 0 1vw 0;
    }
    .deleteComment a {
        text-decoration: none; 
        color: inherit;  
        color: #944b4b;
        font-size: smaller;
    }
    .deleteComment a:hover {
        cursor: pointer;
    }

}
.addCommentButton input{
    background-color: #393939; 
    color: white; 
    padding: 1vw 1vw; 
    border: none; 
    border-radius: 100vw;
    cursor: pointer;


}
.commentInfo input, .commentInfo textarea{
    margin-bottom: 0.86vw;
    width: 36vw;
    display: flex;
    flex-direction: column;
    padding: 0.56vw 1.56vw;
    border-radius: 1.24vw;
    background-color: white;
    border: none;
}
.commentInfo input::placeholder, .commentInfo textarea::placeholder {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
