* {
    box-sizing: border-box;
}
body {
    font-family: 'Arimo', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7vw 2.2vw 1.4vw 2.2vw;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Текст ---------------------------------------------- */
h1 {
    font-size: 23px;
    font-weight: 600;
    line-height: 130%;
    color: var(--black);
}
h2 {
    font-size: 20px; 
    font-weight: 400;
    color: var(--black);
    line-height: normal;
}
h4 {
    font-size: 13px; 
    letter-spacing: -1%;
    color: var(--black);
    line-height: normal;
}
h3 {
    font-size: 16px;
    letter-spacing: -1%;
    color: var(--black);
    line-height: 132%;
}
p, a {
    font-size: 20px;
    font-weight: 200;
    text-decoration: none; 
    color: var(--black);  
}
a:hover {
    cursor: pointer;       
}

/* Анимации ---------------------------------------------- */
.slide-left-out {
  animation: slideLeftOut 0.3s forwards;
}
.slide-left-in {
  animation: slideLeftIn 0.3s forwards;
}
.slide-right-out {
  animation: slideRightOut 0.3s forwards;
}
.slide-right-in {
  animation: slideRightIn 0.3s forwards;
}

@keyframes slideLeftOut {
  to { transform: translateX(-100%); opacity: 0; }
}
@keyframes slideLeftIn {
  from { transform: translateX(100%); opacity: 0; }
  to   { transform: translateX(0); opacity: 1; }
}
@keyframes slideRightOut {
  to { transform: translateX(100%); opacity: 0; }
}
@keyframes slideRightIn {
  from { transform: translateX(-100%); opacity: 0; }
  to   { transform: translateX(0); opacity: 1; }
}


/* Системное ---------------------------------------------- */

.wrapper {
    flex: 1;
}
button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
}
.systemMessage {
    position: fixed;
    z-index: 40;
    font-size: 20px;
    animation: fadeOut 2s ease-out forwards;
}
.hidden {
    display: none!important;
}

/* Анимации ---------------------------------------------- */

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    body {
        padding: 9vw 2.7vw 1.4vw 2.7vw;
    }

    /* Текст ---------------------------------------------- */
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 23px; 
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 16px; 
    }
    p, a {
        font-size: 23px;
    }

    /* Системное ---------------------------------------------- */

    .systemMessage {
        font-size: 23px;
    }
}
@media only screen and (min-width: 744px) and (max-width: 1023px) {
    body {
        padding: 14vw 3.8vw 1.4vw 3.8vw;
    }

    /* Текст ---------------------------------------------- */
    h1 {
        font-size: 21px;
    }
    h2 {
        font-size: 18px; 
    }
    h3 {
        font-size: 16px;
    }
    h4 {
        font-size: 14px; 
    }
    p, a {
        font-size: 18px;
    }

    /* Системное ---------------------------------------------- */

    .systemMessage {
        font-size: 18px;
    }

}
@media only screen and (min-width: 393px) and (max-width: 743px) {
    body {
        padding: 12.2vw 3.6vw 1.4vw 3.6vw;
    }

    /* Текст ---------------------------------------------- */
    h1 {
        font-size: 21px;
    }
    h2 {
        font-size: 17px; 
    }
    h3 {
        font-size: 15px;
    }
    h4 {
        font-size: 12px; 
    }
    p, a {
        font-size: 18px;
    }

    /* Системное ---------------------------------------------- */

    .systemMessage {
        font-size: 17px;
    }
}




