<!-- Модалка: настройки пользователя -->
<div class="S_modalSettings" id="settings">

    <!-- Закрытие -->
    <div class="W_modalCloseBtn">
    <button class="Q_modalCloseBtn">
        <img src="<%= asset_path('crossIcon_b.svg') %>" alt="Закрыть">
    </button>
    </div>

    <!-- Весь контент настроек -->
    <div class="O_Settings">
        <div class="W_modalSettingsNav">
            <div class="A_settingsUser">
                <img src="<%= current_profile.avatar_url %>" alt="">
                <h1><%= current_profile.name %></h1>
            </div>
            <div class="C_settingsNavBtns">
                <button class="Q_settingsNavBtn"><h3>Личная информация</h3></button>
                <button class="Q_settingsNavBtn"><h3>Пароль</h3></button>
                <button class="Q_settingsNavBtn"><h3>Уведомления</h3></button>
                <button class="Q_settingsNavBtn"><h3>Предпочтения</h3></button>
            </div>
        </div>

        <div class="W_settingsForm">

        
        <div>



    </div>
</div>
